[2019-04-26 17:29] sjackman commented on #6070
Ah right. I'm caught up now.

This solution seems to make sense to me, since `-L#{HOMEBREW_PREFIX}/lib` is in the `specs` file. If any brewed `gcc` or `gcc@*` is used, do not pass `-L#{HOMEBREW_PREFIX}/lib`, since it's in the `specs` file.

[2019-04-26 18:18] MikeMcQuaid commented on #6070
Agreed.

[2019-04-26 18:27] sjackman commented on #6070
@xu-cheng Would you like to take a shot at implementing this fix in Superenv?

[2019-04-27 15:38] kelbyers commented on #6065
That means that this tool in fact does not work exactly like installing from a download. What use is it, if it takes all control away from the user? The only control this gives me is the ability to install or uninstall an application. I can do that without the tool just fine.

[2019-04-27 22:28] vitorgalvao commented on #6065
It does if you want the latest version. Most people want just that, they don’t hunt around for old versions.

That is quite hyperbolic. You make it sound like we’re locking down your system and preventing you from installing apps. Homebrew takes no control away from you; it only gives you more possibilities. If those are possibilities you want is another matter. Here are a few suggestions:

* Get

[2019-04-28 08:19] MikeMcQuaid commented on #6065
@kelbyers That's an unnecessarily rude statement. Please adjust your tone before creating future issues or comments.

[2019-04-30 12:32] MikeMcQuaid commented on #6059
I'd suggest `use_core_tap!` as a DSL method inside `bottle do` would be a good call which also automatically handles the `brew extract` versioning format.

[2019-04-30 13:30] z2014 opened #6078 "glibtoolize: error: $pkgauxdir is not a directory"
# What you were trying to do (and why)

i am trying to `brew install opencv@2` in docker build from centos7

# What happened (include command output)

so i get this error `glibtoolize:   error: $pkgauxdir is not a directory`
, but when i exec `brew install libtool`,
i get ` libtool 2.4.6_2 is already installed and up-to-date`
so i cd `/usr/local/` find no `/bin` or `/Cellar`,
and i found out when

[2019-04-30 13:45] MikeMcQuaid commented on #6078
There is no problem, that's the expected installation location.

[2019-04-30 13:45] #6078 closed

[2019-04-30 13:48] z2014 commented on #6078
i want to know why i get do not run this as an root

[2019-04-30 13:50] z2014 commented on #6078
And I had installed libtool.why I get plaguxdir is not a directory

[2019-04-30 13:50] MikeMcQuaid commented on #6078
Because it's insecure. You can check out the code if you want answers to such questions.

Also, from the issue template:

[2019-04-30 16:03] ran-dall opened #6079 "Can't run brew style and audit: incompatible library version - jaro_winkler-1.5.2"
- [ ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-04-30 16:10] MikeMcQuaid commented on #6079
Duplicate of https://github.com/Homebrew/brew/issues/5561

[2019-04-30 16:10] #6079 closed

[2019-04-30 17:12] ran-dall commented on #6079
@MikeMcQuaid Thanks 👏 I thought it might be related.

[2019-04-30 23:18] glensc commented on #6059
noted my thumb up

[2019-05-01 01:20] DolaBMOon opened #6081 "gem broke for brew ruby(2.6.3)"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

I've seen Homebrew/homebrew-core#11636, but it didn't work for me.

- [ ] are reporting a bug others will b

[2019-05-01 01:20] DolaBMOon commented on #6081
I've seen Homebrew/homebrew-core#11636, but it didn't work for me.

[2019-05-01 07:58] MikeMcQuaid commented on #6081
This looks `rvm` related and should be fixed by running `gem pristine` like mentioned. Also, this is not a bug with a `brew` command so should not be filed in this repository.

[2019-05-01 07:58] #6081 closed

[2019-05-01 21:31] MrTact opened #6087 "brew crash on installing formula from a tap"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-02 07:36] #6087 closed

[2019-05-02 10:55] razzfox opened #6091 "Ability to select a different bottle"
# A detailed description of the proposed feature

A command line option, or environment variable that selects a bottle version ('mojave', 'high_sierra', 'sierra', etc).

# The motivation for the feature

I am using Mojave on a 2010 MacBook Air (Core 2 Duo). This machine normally runs High Sierra, but it will run Mojave with modification that is easy to do (dosdude1's patch).

Some Mojave bottles r

[2019-05-02 12:24] MikeMcQuaid commented on #6091
Sorry, given this issue only occurs on unsupported macOS setups we won't be adding support for this feature. We would consider reviewing a PR that detects configurations like yours and builds from source, though.

[2019-05-02 12:24] #6091 closed

[2019-05-03 03:47] earth2travis opened #6119 "Failed during: /usr/local/bin/brew update --force"
- [X] reporting a bug others will be able to reproduce

This is not a `brew install`, Linux, `brew cask` or general `brew` problem.

## [Reviewed all post within last 30 days on Discourse](https://discourse.brew.sh)

- [Reinstalling homebrew & caskroom, and getting all packages/apps back?](https://discourse.brew.sh/t/reinstalling-homebrew-caskroom-and-getting-all-packages-apps-back/4697)
- [Why I

[2019-05-04 18:31] vidavidorra commented on #5561
For what its worth, I've had almost the same error but at a different point and have found a fix. Mine failed on installing `nokogiri` for the 2nd time and [this](https://github.com/bundler/bundler/issues/4656#issuecomment-342722143) fixed the issue for me.
This is on Manjaro (`4.19.36-1-MANJARO`) btw.

[2019-05-05 10:05] keslers opened #6096 "Ghostscript with x-11 version no longer available"
I am working with Generic Mapping Tools.  Why is Ghostscript with x11 support no longer available for macOS 10.14.4?  The brew formula is specific for without x11.

[2019-05-05 13:24] MikeMcQuaid commented on #6096
No more options are provided in Homebrew/homebrew-core: https://brew.sh/2019/02/02/homebrew-2.0.0/

From the issue template:

Please always fill this out in future.

[2019-05-05 13:24] #6096 closed

[2019-05-06 14:31] danielhelfand opened #6100 "Better Output Format for brew info --installed"
# Better Output Format for brew info --installed

As mentioned in this [issue](https://github.com/minishift/minishift/issues/3232) for `MiniShift`, the json output produced by running the following: `brew info --installed docker-machine-driver-xhyve --json` is a difficult format to interpret.

In the `MiniShift` documentation for macOS [here](https://docs.okd.io/latest/minishift/getting-started/se

[2019-05-06 14:36] MikeMcQuaid commented on #6100
`brew info $(brew ls)` will output what you want. A `brew info --installed` option doesn't make sense without `--json` as it outputs a potentially huge amount of information.

If you want to view `brew info` for a single formula: use `brew info docker-machine-driver-xhyve`.

[2019-05-06 14:36] #6100 closed

[2019-05-06 14:39] danielhelfand commented on #6100
@MikeMcQuaid Thanks! This appears to be what I'm looking for:

[code]

Output:
[code]

[2019-05-06 14:41] MikeMcQuaid commented on #6100
`brew info docker-machine-driver-xhyve` is what you are looking for.

In future please try `brew info --help` and `brew man`; they detail the options for the commands.

[2019-05-06 15:56] astorath commented on #6059
@glensc , thanks for the tip with `def name`. I've end up creating simple brew cmd to _fix_ extracted formulae 😄

https://github.com/astorath/homebrew-core/blob/master/cmd/brew-fixtap.rb

PS: For a title "The missing package manager for macOS", not being able to install specific package version and make versioned dependencies is a bit strange...

[2019-05-06 16:00] MikeMcQuaid commented on #6059
@astorath Please omit the `PS` with future posts, thanks. It's an intentional decision to not support every version in perpetuity because:

1. it would mean supporting packages that upstream don't support (e.g. with known security vulnerabilities)
2. it would mean supporting many thousands more packages which we don't have the financial or people resources to do

[2019-05-06 20:03] UnknownLocation opened #6101 "Building ffmpeg without libbluray"
How to compile ffmpeg from brew without this heavy dependency? I need a build with a small set of libraries for transcoding only online video via youtube-dl. However, --without-libbluray flag doesn't exist.

[2019-05-06 20:07] retokromer commented on #6101
You can use a [tap](https://github.com/varenc/homebrew-ffmpeg).

[2019-05-06 20:10] iMichka commented on #6101
**Please note we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

[2019-05-06 20:10] #6101 closed

[2019-05-07 01:54] NickLaMuro opened #6103 "Unable to install formula with "outdated pinned dependency""
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-07 06:58] MikeMcQuaid commented on #6103
This is intentional behaviour.

[2019-05-07 06:58] #6103 closed

[2019-05-07 18:57] nhooyr opened #6106 "subcommand completion is very slow"
[code]

Completion at `<TAB>` takes nearly a second or two.

I've narrowed it down to the `brew commands --quiet --include-aliases ` command in the completion script. It takes nearly 0.75s for me which is unreasonably high.

[2019-05-07 20:49] colindean commented on #6106
Please always complete the issue template. It helps the team more quickly assess the problem without having to request more information from you. Without the information requested in the issue template, this issue may be closed until you supply that information, preferably in the original text but a follow-up comment is acceptable, too.

[2019-05-07 21:03] iMichka commented on #6106
**Please note we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

[2019-05-07 21:03] #6106 closed

[2019-05-07 21:07] nhooyr commented on #6106
Come on, this is ridiculous, my bug report is very clear.

Here is the slow line: https://github.com/Homebrew/brew/blob/039885c95dc9ca4d80c2c3e1fa15a420b71414e0/completions/bash/brew#L803

[2019-05-07 21:18] iMichka commented on #6106
Please watch your tone, and do not tell us that something is ridiculous. You removed the issue template, which leads the issue to be closed. These are the rules here. This is the only way for us to manage all the issues being opened during the day in a sane way.

If you think something is slow: please open a pull request to fix it, with a benchmark of the improvement. If nobody on our side is impa

[2019-05-07 21:43] nhooyr commented on #6106
I apologize for my aggressive tone. My point was that I believed I provided enough information to easily debug this. The instant closure of the issue was very abrasive. You could have just requested I reread the issue template and include the relevant information and I would have done so.

Anyway, here is information you want:

[code]

[code]

[code]

[2019-05-08 08:11] MikeMcQuaid commented on #6106
Furthermore: the issue template tells you that it will be closed if you don't fill it in. You either did not read it or you decided to ignore it. Neither are respectful of our time.

Thank you for the apology.

Similarly, we find it abrasive when people don't fill in the issue template.

This is true. However, we're triaging many more issues than you are filing and you're asking for our help and n

[2019-05-08 17:23] chris-praxis opened #6109 "opencv v4.1 calling 'authorizationStatusForMediaType' on MacOS prior to Mojave"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [ X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure o

[2019-05-09 00:28] cblecker opened #6110 "docs: tap-pin still referred to in documentation"
https://docs.brew.sh/Taps still refers to and explains how to pin an entire tap, however, the command output throws an error saying it's been deprecated.

I don't know the motivations for deprecating the previous tap-pin functionality, so I don't feel comfortable updating the docs myself, but I wanted to advise that they are out of date.

[2019-05-09 08:16] jonchang commented on #6110
**Please always fill out the issue template**. Feel free to open a pull request suggesting this change. Tap pinning was deprecated in https://github.com/Homebrew/brew/pull/5925, for context.

[2019-05-09 08:16] #6110 closed

[2019-05-09 11:44] MikeMcQuaid commented on #6110
Opened a PR in https://github.com/Homebrew/brew/pull/6111. Agreed with @jonchang it's always helpful to use the issue template but thanks for the issue regardless in this case, @cblecker.

[2019-05-09 15:51] mfriedenhagen opened #6112 "`brew cleanup` fails when cask is defined in multiple taps"
- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh (https://discourse.brew.sh/t/brew-cleanup-chokes-cask-adoptopenjdk8-exists-in-multiple-taps/4786)
- [ ] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official f

[2019-05-10 07:32] MikeMcQuaid commented on #6112
CC @Homebrew/cask

[2019-05-10 07:35] MikeMcQuaid commented on #6112
(Not CCing for this specific Java issue but because it should be possible to have multiple taps with the same name and not have `brew cleanup` go 💥.

@mfriedenhagen Can I see the output of `brew cleanup --debug` in that case? Thanks!

[2019-05-10 07:38] claui commented on #6112
@MikeMcQuaid Yes, we absolutely need to fix this.

In the meantime, the issue can be worked around by removing the cached download:

[code]

[2019-05-10 14:48] 21djeff69 opened #6115 "why the fuck would you use this on linux?"
why do you call this the missing package manager for linux? it's literally trash compared to anything else you can use in the linux ecosystem. you should remove that from your branding cause it's fucking dumb

[2019-05-11 02:14] amyspark commented on #6112
**tl;dr:** Casks are loaded by the about-to-be-cleaned download's file name. (Not a good idea at all.)
[code]

[2019-05-11 03:13] amyspark commented on #6112
Ok, I've kinda finished triaging this. Casks' downloads are stored and referenced by only their `token`. This triggers a lookup failure when trying to access the related cask, for obvious reasons.

The fix should be twofold: first, the downloader strategy should use the `full_name` to generate the cache file name. Then, all moving parts in `brew cleanup` that rely on cache `&:children` must be upd

[2019-05-11 06:01] souhaiebtar opened #6116 "install not working on fedora 30"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-11 06:45] MikeMcQuaid commented on #6112
It doesn't.

We can't modify the cache in this way again. An alternative workaround would be to use the list of installed casks to prioritise casks from a particular tap.

[2019-05-11 06:45] MikeMcQuaid commented on #6116
Glad you resolved it. CC @Homebrew/linux

[2019-05-11 06:45] #6116 closed

[2019-05-11 07:18] 1191102363 opened #6117 "HEAD is now at ea0b36f69 Merge pull request #6113 from amyspark/azure_mojave_only"
Always follow the instructions above when installing

[2019-05-11 07:20] 1191102363 commented on #6117
fatal: unable to access 'https://github.com/Homebrew/homebrew-core/': transfer closed with outstanding read data remaining
Error: Fetching /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core failed!
Failed during: /usr/local/bin/brew update --force

[2019-05-11 10:15] hemedani opened #6118 "brew services start mongodb-community@4.0 fails - uninitialized constant"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-11 11:11] MikeMcQuaid commented on #6118
This is the case so please report to https://github.com/mongodb/homebrew-brew instead.

[2019-05-11 11:11] #6118 closed

[2019-05-11 11:46] mfriedenhagen commented on #6112
Where does brew store the information about installed formulas and casks?

[2019-05-11 13:19] MikeMcQuaid commented on #6112
The `Cellar` and `Caskroom` respectively.

[2019-05-12 06:55] MikeMcQuaid commented on #6119
I don't really understand your current issue using the format you have. Can you paste the last commands that failed and their full output? Thanks.

[2019-05-13 11:00] #6119 closed

[2019-05-13 11:00] MikeMcQuaid commented on #6117
From the issue template:

If you add the necessary information to this issue (don't create a new one, please) then this issue may be reopened.

[2019-05-13 11:00] #6117 closed

[2019-05-13 11:15] StefMa opened #6125 "Delegate `brew update package` to `brew upgrade package`"
# A detailed description of the proposed feature
I do **always** the same misstake by ~updating~ upgrating packages and type:
[code]
the currently response is then:

Is it possible to "delegate" this issue to the correct command?
So that this leads to something

Another solution would be - instead of "just doing it" - *ask* the user to doing a `upgrade` instead.

# The motivation for the feature
I

[2019-05-13 11:29] MikeMcQuaid commented on #6125
That means we'd need to handle all `upgrade` options as part of `update` which isn't a route we want to go down.

[2019-05-13 11:29] #6125 closed

[2019-05-13 12:30] vogler opened #6126 "line after each `brew cask info` (as for `brew info`)"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-13 13:09] amyspark commented on #6112
Quick 'n dirty fix:
[code]
BTW, Cask list both versions as installed, so I preferred to sort them just like `brew search` does.

[2019-05-13 13:41] MikeMcQuaid commented on #6112
Can you elaborate on this? It shows both versions as installed even if only one is?

[2019-05-13 17:10] issyl0 commented on #6126
This is done in the main `brew info` command by [`puts unless i.zero?`](https://github.com/Homebrew/brew/blob/master/Library/Homebrew/cmd/info.rb#L79-L80), which inserts a new line if there's more than one formula passed as an argument. This looks like it could be fairly quickly replicated in [brew cask's info command](https://github.com/Homebrew/brew/blob/master/Library/Homebrew/cask/cmd/info.rb#

[2019-05-13 17:52] MikeMcQuaid commented on #6126
This seems like the best solution 👍

[2019-05-13 17:55] issyl0 commented on #6126
@MikeMcQuaid :+1: I’ll do a PR given I still have the code up.

[2019-05-13 19:42] sjackman commented on #6116
`portable-ruby` requires the library `libcrypt.so.1`. On Fedora 30, that file is provided by `libxcrypt-compat`. I've opened PR https://github.com/Homebrew/brew/pull/6128 to fix the documentation to address this issue.

[2019-05-13 21:32] amyspark commented on #6112
Yes @MikeMcQuaid , e.g. after installing `homebrew/cask-versions/adoptopenjdk8`. Note that I've tapped AdoptOpenJDK's tap too.
[code]

[2019-05-14 01:10] 0xdevalias opened #6129 "depends_on should be satisfied by system binaries in PATH"
# A detailed description of the proposed feature

When a formulae has a `depends_on` ([`brew` ref](https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md#specifying-other-formulae-as-dependencies), [cask ref](https://github.com/Homebrew/homebrew-cask/blob/master/doc/cask_language_reference/stanzas/depends_on.md)) requirement, check if that can be satisfied by binaries in the existin

[2019-05-14 06:44] jonchang commented on #6129
This can be solved in a third-party tap by using a custom Requirement. This wouldn't be accepted in Homebrew/core since this would cause many support problems with e.g., random or broken `node` installs on end-users' machines. This has historically been a problem for Homebrew as the support requests for `depends_on` ruby, python, perl, mpi, fortran, mysql and so on were overwhelming.

 See https:/

[2019-05-14 06:44] #6129 closed

[2019-05-14 07:12] MikeMcQuaid commented on #6112
@amyspark Weird! I guess that's going to be related to the underlying bug here and also probably needs addressed.

[2019-05-14 07:13] MikeMcQuaid commented on #6129
This is how every package manager works. Just ignore that `node` if you don't need it as Homebrew does.

[2019-05-14 07:21] #6126 closed

[2019-05-15 01:14] masukomi opened #6134 "bug in api_credentials_error_message"
I'm reporting a logic bug in the code which is provable via the error message reported below. The report includes pointers to the faulty method. These checkbox things aren't applicable.

- [x] are reporting a bug others will be able to reproduce and not asking a question.
yes
- [x] ran a `brew` command and reproduced the problem with multiple formulae?
not but it's not applicable
- [x] ran `brew u

[2019-05-15 14:20] #6134 closed

[2019-05-15 23:04] Nowaker opened #6138 "Linux: Homebrew conflicts with RVM, errors out with "cannot load such file -- irb""
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-05-16 03:37] jonchang commented on #6138
I couldn't reproduce this in Docker. Can you try running `brew update-reset` and see if you get the same issues, and if so, try to get a string of commands that I could run in a Docker container to see the same issue? Thanks

[code]

[2019-05-16 03:42] Nowaker commented on #6138
@jonchang Sure thing. Can you help with reverting `brew vendor-install ruby` first? I want to see the error on my daily Arch back, and then can try recreating in Docker. BTW - AFAIR, `brew install` worked with RVM just fine, it was `brew upgrade` that did not (and maybe only limited when there's something to actually upgrade - not sure about that).

[2019-05-16 03:54] jonchang commented on #6138
Try `rm -rf $(brew --repo)/Library/Homebrew/vendor/portable-ruby`

[2019-05-16 06:51] #6138 closed

[2019-05-16 06:51] MikeMcQuaid commented on #6138
Closing as this is a user setup issue.

[2019-05-16 18:24] xama5 opened #6140 "Homebrew GitHub Pages sites do not display all URLs correctly."
No idea where the docs are at, so I'm creating this issue here.

Since about 10 minutes ago all links on docs.brew.sh result in a 404.

Example: https://docs.brew.sh/Homebrew-on-Linux/

[2019-05-16 18:57] faizanahemad commented on #6140
+1 Facing the same issue.

[2019-05-16 18:57] MikeMcQuaid commented on #6140
This is a GitHub Pages issue that is being worked on. Please don't post 👍s.

[2019-05-17 07:08] letmaik opened #6142 "Add HOMEBREW_CURL_RETRIES"
# A detailed description of the proposed feature

Since brew uses `curl` to download bottles it would be useful to have a `HOMEBREW_CURL_RETRIES=n` environment variable which sets the `--retry <n>` flag of `curl`.

# The motivation for the feature

brew commands sometimes fail due to network issues. This is unfortunate in automated scenarios because wrapping brew as a whole in retry logic would al

[2019-05-17 07:27] MikeMcQuaid commented on #6140
Fixed now.

[2019-05-17 07:27] #6140 closed

[2019-05-17 07:56] MikeMcQuaid commented on #6142
This seems like a good idea we'd accept a PR for!

[2019-05-18 08:16] 0xdevalias commented on #6129
How about just a power user option to say 'never install this dependency under any circumstance'? Like a 'blocklist'. Then I could block things if/as I need (eg. node), and not have to worry about it?

[2019-05-18 18:14] MikeMcQuaid commented on #6129
@0xdevalias The "power user" option is to create your own formulae that work however you want.

[2019-05-18 18:17] #6142 closed

[2019-05-18 21:13] 0xdevalias commented on #6129
I get that if you’re not going to include it, you’re not going to include it. There is a very different reality to having to solve a problem in every single package it exists, vs a tool existing higher up that would allow people to solve the problem more wholistically, for their needs, without impacting on those that don’t need it/changing the current defaults.

Sorry for even raising an idea/aski

[2019-05-20 07:13] xu-cheng commented on #6070
This problem is not solved. However, I don't think I have enough free time to work on this for the moment. Sorry.

[2019-05-20 08:27] giovannidegani opened #6148 "New Cask Formula with Cookie encoding requirements fails"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-20 08:31] MikeMcQuaid commented on #6148
CC @Homebrew/cask

[2019-05-20 09:20] nadstaky opened #6149 "pulseaudio (using paplay) can't read 24/96000 FLAC files"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [ ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-20 15:34] MikeMcQuaid opened #6150 "Add `uses_from_macos "python"` DSL"
We should add a new DSL for formulae to allow stating system dependencies:
[code]

This will be treated as a no-op on macOS (although can be output by `brew info --json`) and provide metadata. On non-macOS platforms (e.g. Linux) this can be used to install these formulae as dependencies.

This should allow some consolidation of dependency logic between Homebrew/homebrew-core and Homebrew/linuxbrew

[2019-05-20 18:18] sjackman commented on #6150
If a new contributor to Homebrew is interested in working on this issue, I'd be happy to point you to the place in the code where the changes are needed.

[2019-05-20 20:38] samuela opened #6151 "Linux brew installs `eval $(/bin/brew shellenv)` in `~/.profile`, but does not install at `/bin/brew`"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-20 21:20] iMichka commented on #6151
Hi

The install instructions come from that code:
https://github.com/Linuxbrew/install/blob/master/install#L480-L491

What commands did you execute?

[2019-05-20 21:22] iMichka commented on #6151
Ok the instructions here: https://docs.brew.sh/Homebrew-on-Linux#install are slightly different but the idea is the same.

What does `echo $(brew --prefix)` give?

[2019-05-20 23:26] samuela commented on #6151
[code]

I ran

[code]
to install.

[2019-05-21 04:03] meritozh opened #6152 "allow link formula if force"
# A detailed description of the proposed feature

Allow link formula if user force to do it.

# The motivation for the feature

I understand the reason described in #4441. But I doubt the solution:

1. force link formula, cause some strange behavior only occurs on several formulas
2. if I pass the correct compiler flags, I must write macOS specific configurations in my _CMakeLists.txt_, etc.
3. wh

[2019-05-21 05:18] shawwn opened #6154 "Homebrew refuses to build formulas from source when Xcode 10.1 is installed"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-21 05:40] shawwn commented on #6154
Thanks for ruining an otherwise productive night of hacking.

![](https://i.imgur.com/Y1P6s9q.jpg)

[2019-05-21 06:20] shawwn commented on #6154
That's ok, I didn't want to get anything done tonight anyway. /s

![image](https://user-images.githubusercontent.com/59632/58072760-4ec62580-7b66-11e9-843e-a0569d32db1d.png)

Time for a rousing game of "How long will it take to finish installing?" It's always exciting because it could be 2 minutes, it could be 40 minutes. Apple's progress bar will always seem like it's 70% done until it's finally

[2019-05-21 06:23] shawwn commented on #6154
(inb4 closed as "this is intentional homebrew behavior.")

Look, I'm not saying that you should support every Xcode version. It would be silly to support Xcode 9 at this point. Even 10.1 is pretty reasonable. But Xcode 10.2 came out in *march*:

![image](https://user-images.githubusercontent.com/59632/58072968-f2173a80-7b66-11e9-978a-67f59a17f5aa.png)

And that's March 25, so pretty much April. To

[2019-05-21 06:40] shawwn commented on #6154
....
![image](https://user-images.githubusercontent.com/59632/58073686-e298f100-7b68-11e9-957c-c7c57d7c276f.png)

The point of homebrew is to make developers more productive. It doesn't feel like a productive decision to force the entire developer community to upgrade to an Xcode version that is less than two months old. Nor does it seem rational to make this decision knowing that it requires a fu

[2019-05-21 06:45] shawwn commented on #6154
The gods said no.

![image](https://user-images.githubusercontent.com/59632/58074098-f1cc6e80-7b69-11e9-8340-72ad0aef0eba.png)

But that's ok, because that means round 2 of Game of Progress Bars!

![image](https://user-images.githubusercontent.com/59632/58074130-0d377980-7b6a-11e9-8bdb-b3a821ec263f.png)

[2019-05-21 07:07] MikeMcQuaid commented on #6152
Sorry, this is intentional behaviour.

[2019-05-21 07:07] #6152 closed

[2019-05-21 07:13] MikeMcQuaid commented on #6154
https://github.com/Homebrew/brew/pull/5940 and https://github.com/Homebrew/brew/pull/6083 explain why this is done. The required version is Xcode 10.2 although our messaging will encourage you to upgrade to the latest version.

You need to [read our Code of Conduct](https://github.com/Homebrew/brew/blob/master/CODE_OF_CONDUCT.md) and adjust your tone in future comments or issues.

[2019-05-21 07:13] #6154 closed

[2019-05-21 12:16] xu-cheng opened #6157 "Support `brew cask --cache <cask>` command"
Currently we have `brew --cache <formula>` command to print the local path for downloaded artefact. For example:

[code]

It would be beneficial to support the same function in the cask. The reason is that some casks are notoriously hard to download. `mactex` is one of such casks due to its large size and unstable mirrors. Therefore, in such case, users may want to download the files in other mean

[2019-05-21 12:25] MikeMcQuaid commented on #6157
`brew --cache --cask` would be another option. Would accept a PR for this. CC @homebrew/cask for thoughts.

[2019-05-21 12:26] MikeMcQuaid commented on #6157
Also, @xu-cheng: please always use the feature request template.

[2019-05-21 12:40] vitorgalvao commented on #6157
Fine by me.

[2019-05-21 14:18] tobimensch opened #6159 "Can't install mosh through homebrew on Fedora 30"
I was trying to install mosh using:
brew install mosh

This happened:
[code]

According to the error messages, apparently the Fedora 30 libnsl isn't compatible. Why doesn't homebrew ship its own libnsl?

A way to possibly solve this would be to skip the installation of the Perl dependency, as I've this version of Perl on the system anyway. But how would I do that? Is the only way to edit rb files?

[2019-05-21 17:08] gkpacker commented on #6150
Hey @sjackman, i'd like to work on this

[2019-05-21 17:58] sjackman commented on #6150
Excellent!
Add the `uses_from_macos` method to the `Formula` class.
https://github.com/Homebrew/brew/blob/b3c0997c0a2308513615441bccb47c19f8325dfd/Library/Homebrew/formula.rb#L2359
The default implementation will simply forward to `depends_on`. Create two new files `extend/os/dependency_collector.rb` and `extend/os/mac/dependency_collector.rb`. On macOS, the `uses_from_macos` method will compare t

[2019-05-21 17:58] sjackman commented on #6150
cc @iMichka

[2019-05-21 18:01] sjackman commented on #6151
Please report the complete output of…

[code]

[2019-05-21 18:46] MikeMcQuaid commented on #6150
I'd need to see code but broadly: yes.

That's my main concern with the proposed approach; we'd need to ensure that by default these dependencies are not going to be output (on macOS or with `HOMEBREW_FORCE_HOMEBREW_ON_LINUX` set) but instead output them under a new entry e.g. `"uses_from_macos" => ...`

[2019-05-21 18:51] iMichka commented on #6150
One question: should we enforce the list of possible dependencies? (python, readline, ncurses, ...) or allow all dependencies (which may open the door to use whatever a user installed on the system, which is probably not what we want).

[2019-05-21 18:54] MikeMcQuaid commented on #6150
@iMichka Yes, good question. It may be worth having a hardcoded list of these dependencies in Homebrew/brew. To be clear I don't think this would allow random system stuff to be used regardless as superenv will still filter them out on the macOS case but being fairly strict on the usage feels sensible.

[2019-05-21 18:54] sjackman commented on #6150
`brew audit` should probably check against a hardcoded list.

[2019-05-21 18:56] sjackman commented on #6150
@gkpacker Feel free to open a PR that implements it as I described. Once the key logic is in place, we can discuss possible additional changes to `brew info --json` and `brew audit`.

[2019-05-21 19:37] gkpacker commented on #6150
@sjackman thanks! I never contributed to open source and i have a few questions:

It should be no-op on Linux since we're adding a macOS "version checker", right?

These files already exists, should i change something in them?

I use homebrew, but i don't know how it works internally, probably i'll have some difficulty to understand it

[2019-05-21 20:48] sjackman commented on #6150
Welcome!

The default implementation will simply forward to `depends_on`, and Linux will use this default implementation. That is `uses_from_macos "python", :after => :el_capitan` will be equivalent to `depends_on "python"` on Linux.

[2019-05-21 20:50] sjackman commented on #6150
That was a typo. Sorry. Create two new files `extend/os/formula.rb` and `extend/os/mac/formula.rb`.

See the documentation: https://docs.brew.sh/#contributors
and the `Formula` API: https://rubydoc.brew.sh/Formula.html

[2019-05-21 21:05] gkpacker commented on #6150
Thanks, @sjackman! It makes a lot more sense now. I think i can do it! When i get home i'll try to implement that

[2019-05-21 21:08] sjackman commented on #6150
Excellent! Are you also learning Ruby, or do you already know Ruby?

[2019-05-21 21:09] mcandre opened #6161 "brew install <URL> should automatically imply --build-from-source"
When the user explicitly instructs Homebrew to install a formula from a special URL, then Homebrew should not ignore the request and build from a separate binary package. Homebrew should automatically infer the `--build-from-source` flag and respect the user's wishes.

[2019-05-21 22:29] gkpacker commented on #6150
I already know Ruby/Rails, obviously not 100%, but it was my first language, so i have some familiarity with it

[2019-05-21 22:51] sjackman commented on #6150
Glad to hear it!

[2019-05-22 00:08] gkpacker commented on #6150
How can i open a console in the gem context like `rails c`?

[2019-05-22 00:16] sjackman commented on #6150
I think you mean `brew irb`

[2019-05-22 01:20] gkpacker commented on #6150
What should we do if passed `nil`/invalid values to `after`/`before`?
e.g.:
[code]

[2019-05-22 04:13] samuela commented on #6151
[code]

[2019-05-22 04:15] sjackman commented on #6150
It should raise an exception if the value is not one of the known macOS versions.

Yeah, that'd be good.

[2019-05-22 04:26] sjackman commented on #6151
[code]
Looks like it worked this time. Is it working now?

[2019-05-22 04:53] samuela commented on #6151
@sjackman Oh yeah, I've commented out the offending line from my `~/.profile`.

[2019-05-22 05:07] sjackman commented on #6151
Glad to hear that you got it working.

[2019-05-22 05:07] #6151 closed

[2019-05-22 07:14] fxcoudert commented on #6161
Installing from a URL will respect the content of the formula, as it should. If the formula provides bottles, they will be used. If the formula does not point to bottles, it will build from source.

[2019-05-22 07:14] #6161 closed

[2019-05-22 07:20] MikeMcQuaid commented on #6161
Please also always fill out the issue template, @auxten.

[2019-05-22 07:24] MikeMcQuaid commented on #6150
I disagree, actually, I don't think it's necessary.

[2019-05-22 14:40] jeduardo824 commented on #5725
Could I start to work on this?

[2019-05-22 15:18] sjackman commented on #6150
Fair enough. In practice I don't think it'd make the implementation any more complicated to support both. It may even make the implementation easier. It's certainly not a priority item though.

[2019-05-22 15:59] jeduardo824 commented on #5730
Could I start to work on this?

[2019-05-22 16:28] gkpacker commented on #6150
I'll make a pr soon, but in advance, is that any other way to compare only if `args[:before]/args[:after]` passed?

`OS::Mac::Version.from_symbol(nil)` will raise `Argument error: unknown version nil`

I have this ATM:
[code]

[2019-05-22 16:35] gkpacker commented on #6150
`OS::Mac.version >= nil` returns true too, so if i have `uses_from_macos 'foo', before: :el_capitan` and sierra as my mac version, it will compare
[code]

[2019-05-22 16:36] sjackman commented on #6150
I'd suggest…
[code]

[2019-05-22 17:54] gkpacker commented on #6150
@sjackman I had a problem running `brew tests` on `rubocop_spec.rb`

[2019-05-22 17:54] gkpacker commented on #6150
[code]

[2019-05-22 18:10] sjackman commented on #6150
I'm not the best person to troubleshoot weird gem troubles. What is the output of `brew audit hello`? Try `brew vendor-install ruby; brew audit hello`.

[2019-05-22 18:13] gkpacker commented on #6150
`brew vendor-install ruby; brew audit hello` fixed it, thanks

[2019-05-22 19:48] zachauten commented on #5725
@jeduardo824 Sure! I’ve been looking into it as well, let me know if you have any questions/ideas!

[2019-05-22 20:54] gkpacker commented on #6150
Should i ask someone's review or just leave it here? https://github.com/Homebrew/brew/pull/6162

[2019-05-22 21:09] sjackman commented on #6150
I've commented and asked @MikeMcQuaid to review PR #6162.

[2019-05-23 00:53] shawwn commented on #6154
I have read the code of conduct. Which parts do you feel this violates?

Also, why is tone more important to the project than building a good product that developers want to use?

[2019-05-23 00:56] shawwn commented on #6154
I have read the issues you linked. They do not explain why you force developers to upgrade their entire operating system just to use basic homebrew functionality. In fact, none of the criticisms listed in this issue seem to be addressed at all.

Is it Homebrew’s position that you are not allowed to criticize the choices of the project, even when those choices are ridiculous and harm developer prod

[2019-05-23 07:23] MikeMcQuaid commented on #6154
Because it's developed by volunteers in their free time.

[2019-05-23 07:24] MikeMcQuaid commented on #6154
The unedited version that was emailed to me:

"those choices are ridiculous" when you've just been warned about your tone means you're no longer welcome in this community.

[2019-05-23 07:27] MikeMcQuaid commented on #5730
@jeduardo824 Yes, please!

[2019-05-23 07:27] MikeMcQuaid commented on #5725
Yes please to either of you!

[2019-05-23 07:47] xu-cheng commented on #6150
Just my two cents, you may want to support `:build, :test` arguments for this new DSL. For example,

[code]

[2019-05-23 15:42] sjackman commented on #6150
Oh, yes. Thanks for the suggestion, @xu-cheng.

[2019-05-23 21:51] cmbernard333 opened #6167 "HOMEBREW_GIT is not picked up by brew config"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-24 06:34] smuellerDD opened #6170 "lib curl with Apple Secure Transport fails"
# What you were trying to do (and why)

Use lib curl with Apple Secure Transport by setting a server and client certificate. (i.e. brew install curl).

# What happened (include command output)

Please see bug discussion at https://github.com/curl/curl/pull/3933

# What you expected to happen

Please see bug discussion at https://github.com/curl/curl/pull/3933

Please apply the patch provided there

[2019-05-24 07:35] MikeMcQuaid commented on #6170
We will consider including this patch once it has been merged into curl. In future please fully explain the issue rather than just linking elsewhere and fill out the full issue template (which would direct you to filing this as Homebrew/homebrew-core). Thanks!

[2019-05-24 07:35] #6170 closed

[2019-05-24 09:48] Aiamjay opened #6171 "error: python is already installed from !"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-24 16:24] MikeMcQuaid commented on #6171
From the issue template:

If you add the necessary information to this issue (don't create a new one, please) then this issue may be reopened.

[2019-05-24 16:24] #6171 closed

[2019-05-24 16:25] MikeMcQuaid commented on #6167
`HOMEBREW_GIT` is not a documented/supported variable for this purpose, sorry. `HOMEBREW_FORCE_BREWED_GIT` may be what you're looking for.

[2019-05-24 16:25] #6167 closed

[2019-05-24 17:30] lwolfsonkin opened #6172 "Can fish shell completions live in this repo?"
# A detailed description of the proposed feature

Currently, the fish shell completions for Homebrew exist primarily in two locations (of which I'm aware): the [main fish shell repo](https://github.com/fish-shell/fish-shell/blob/master/share/completions/brew.fish) and an [extensive external repo](https://github.com/laughedelic/brew-completions/blob/master/completions/brew.fish). I would propose co

[2019-05-24 17:34] MindTooth commented on #6172
That would be a better fit for sure.  I've submitted changes that won't be included until the next minor feature release, making the completion "broken" as of now.

Having my 👌 .  Good initiative.

[2019-05-24 20:01] tomyun opened #6173 "Archived repository removed?"
Just found out some of deprecated/archived Homebrew taps are entirely removed from GitHub. For example, my personal https://github.com/tomyun/Homebrew-games was once forked from https://github.com/Homebrew/Homebrew-games, but then now it shows up as if it was forked from https://github.com/ziz/homebrew-games which I didn't have any relations.

It's quite astounding that Homebrew decided to erase a

[2019-05-25 08:55] MikeMcQuaid commented on #6173
These were removed but these repositories were still showing up and causing issues in bug reports and user errors.

Please always read/fill in the issue template which would direct questions like this to Discourse.

[2019-05-25 08:55] #6173 closed

[2019-05-25 09:01] MikeMcQuaid commented on #6172
I would be 👍 to this happening if all the upstream sources agree. Closing in favour of a PR, thanks!

[2019-05-25 09:01] #6172 closed

[2019-05-26 02:10] Aiamjay commented on #6171
I've provided all the infos and details. Could you please help me find out the reason?

[2019-05-26 07:10] iMichka commented on #6171
No you did not.

[2019-05-28 19:11] tundratim opened #6182 "screen 4.6.2 Build Is Failing Because Of Temp Dir Problems"
Screen 4.6.2 builds are failing on Linux.  Although the build logic computes a new temporary directory name, it never actually creates that dir so subsequent commands like untarring will fail:

``==> Verifying 31dbebcad80655ac1835de1e48582a82a29ff9effa7f3c3fb9b4ab4b0f45f3f0--screen-4.6.2.tar.gz checksum
tar xof /home/test/.cache/Homebrew/downloads/31dbebcad80655ac1835de1e48582a82a29ff9effa7f3c3fb9

[2019-05-28 19:11] #6182 closed

[2019-05-28 19:14] tundratim opened #6183 "Screen 4.6.2 Build From Source Failing On Linux"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure o

[2019-05-29 00:30] JohnRobinv opened #6184 "/usr/local/sbin is not writable"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [ Y] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure o

[2019-05-29 07:06] MikeMcQuaid commented on #6184
You didn't do this. Please include their output in this issue.

[2019-05-29 07:06] #6184 closed

[2019-05-29 13:52] JohnRobinv commented on #6184
updated, please check~~

[2019-05-29 14:30] MikeMcQuaid commented on #6184
The output of `brew doctor` tells you how to fix your issue. That's why we ask you to read it before creating an issue.

[2019-05-30 09:09] #6157 closed

[2019-05-30 16:11] externl opened #6188 "Git error when branch has top level directory with the same name"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-05-30 18:05] MikeMcQuaid commented on #6188
Thanks, good report. The fix for this will be to add `--` to the relevant Git commands so it knows it's a revision and not a path.

[2019-05-31 17:30] #6188 closed

[2019-05-31 20:15] reitermarkus commented on #6112
It shows both as installed because we don't store which tap it was installed from in `Caskroom`.

[2019-05-31 22:14] #6148 closed

[2019-06-01 04:20] acekingke opened #6197 "brew 2."
# VERSION
➜  development brew -v
Homebrew 2.1.4
Homebrew/homebrew-core (git revision 00d5c; last commit 2019-05-31)

# I install ideviceinstaller, but failure

➜  development brew install ideviceinstaller
==> Installing dependencies for ideviceinstaller: usbmuxd, libimobiledevice and libzip
==> Installing ideviceinstaller dependency: usbmuxd
==> Downloading https://homebrew.bintray.com/bottles/usb

[2019-06-01 04:20] #6197 closed

[2019-06-01 09:25] adamtheturtle opened #6198 "Virtualenv.do_install does not work for various Python packages"
- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [X] ran `brew update` and can still reproduce the problem?
- [X] ran `brew doctor`, fixed all issues and can still reproduce the problem?
- [X] ran `brew config` and `brew doctor` and included their output with your i

[2019-06-01 09:25] #6198 closed

[2019-06-01 09:27] adamtheturtle opened #6199 "Virtualenv.do_install does not work for various Python packages"
# What you were trying to do (and why)

I am a maintainer of [an application](https://github.com/mesosphere/dcos-e2e) which ships a Homebrew recipe so that users can easily install a CLI on macOS.
The application is written in Python 3.
The application has multiple dependencies.

The recipe has the following layout, but with many more resources:

`minidcos.rb`:

[code]

Some of those resources spe

[2019-06-01 09:28] #6199 closed

[2019-06-01 09:28] adamtheturtle opened #6200 "Virtualenv.do_install does not work for various Python packages"
- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [X] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-06-01 10:28] MikeMcQuaid commented on #6198
The missing bit from the issue template is "reproduced the problem with multiple formulae". Can you confirm if that's the case?

[2019-06-01 10:32] acekingke opened #6201 "brew install ideviceinstaller failure"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-06-01 10:32] MikeMcQuaid commented on #6200
@adamtheturtle In future please amend the existing issue and comment rather than opening multiple issues, thanks.

You can check the commit logs, they may provide some enlightenment there.

We are unlikely to remove this unless it's needed for Homebrew/homebrew-core formula. It may be a better option for your formula to do the same underlying steps done by `virtualenv_install_with_resources` but m

[2019-06-01 10:32] #6200 closed

[2019-06-01 10:34] MikeMcQuaid commented on #6201
This should be reported to homebrew-core.

You have not done this.

You will need to fix these errors with your local permissions.

[2019-06-01 10:34] #6201 closed

[2019-06-01 22:24] adamtheturtle commented on #6200
Will do.

I may be missing something but I believe the commit at https://github.com/Homebrew/brew/commit/2783adec4a906c8fb5c45aa1305b1460b5bc8a5b#diff-86d78c9fcb1fe847e0ef982ea0b5adfd added this option without description.

That's fair, and your suggestion is what many folks are doing, as shown by the linked issues to the `pip` issue.

However, as a formula author this is a shame because it used t

[2019-06-02 18:07] MikeMcQuaid commented on #6200
Yes. @tdsmith or @jonchang @lembacon any thoughts on this commit and issue?

[2019-06-02 19:24] adamtheturtle commented on #6200
For anyone following, I tried @MIKE's suggestion.
This did not work because I hit [`pip` #6264](https://github.com/pypa/pip/issues/6264) and saw `AttributeError: module 'setuptools.build_meta' has no attribute '__legacy__'`.

Instead, I replaced my formula's `install` section with the following which installs an old `pip`:

[code]

[2019-06-02 19:26] jonchang commented on #6200
Passing `--no-binary` during `pip install` disables using compiled python packages, which I think is behavior we want to keep.

[2019-06-02 21:18] tdsmith commented on #6200
Yeah, avoiding precompiled binaries was the goal, in keeping with the build-from-source ethos. I'm not sure whether Homebrew can do something clever here. I'm moving today (on truck-watch duty atm!) -- I can try and take a look later this week, but if someone else has any interest in investigating, don't wait for me :)

[2019-06-02 22:34] phroiland opened #6203 "Brew won't upgrade azure-cli"
**Please note we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question or requesting software. If

[2019-06-02 22:35] #6203 closed

[2019-06-03 08:01] MikeMcQuaid commented on #6200
Thanks all!

[2019-06-03 08:04] adamtheturtle commented on #6200
Thank you from me as well for spending the time on this. Perhaps I misunderstood - I am by no means a packaging expert - but I understood from [Building from Source in Homebrew and Chocolatey](https://www.youtube.com/watch?v=4KGfuecTfW4) that build from source is not necessarily the direction that Homebrew is going in. (No need to spend time correcting me as I haven't done thorough research on thi

[2019-06-03 08:07] MikeMcQuaid commented on #6200
We build our own packages from source but distribute them as binaries. This is differentiated from distributing upstream binaries (which is done by `brew cask`).

[2019-06-03 20:20] connorshea commented on #6150
Not sure how relevant this is, but [macOS 10.15 deprecates the included scripting languages](https://developer.apple.com/documentation/macos_release_notes/macos_10_15_beta_release_notes):

[2019-06-03 20:23] sjackman commented on #6150
I hadn't heard that. Personally I think that's good news. Thanks for the information, Connor.

[2019-06-04 19:41] zbeekman opened #6207 "Fortran should respect `--cc=...`"
The purpose of this issue is to test the waters, and foster discussion before I jump into coding.

# A detailed description of the proposed feature

Ensure that when a user passes `-cc=...` (which I realize is 100% unsupported) should also adjust which gfortran gets used. Currently I think the shims/superenv force `gfortran` as the compiler, which is not present for versioned GCCs.

# The motivati

[2019-06-05 03:29] ming13 opened #6211 "macOS Catalina and Scripting Language Runtime Deprecations"
[macOS 10.15 deprecates scripting runtimes](https://developer.apple.com/documentation/macos_release_notes/macos_10_15_beta_release_notes).

Since Homebrew relies on Ruby to even download itself (as least brew.sh tells to do so) this might be a potential issue in the future.

* The least intrusive idea is to rewrite the installation process to download and install Ruby first.
* The most intrusive o

[2019-06-05 03:29] #6211 closed

[2019-06-05 08:14] MikeMcQuaid commented on #6207
This seems fine as long as e.g. the `clang` case is handled accordingly.

[2019-06-05 08:14] #6207 closed

[2019-06-05 11:31] zbeekman commented on #6207
I think the clang case would just use the latest GFortran. No obvious way how to map a clang version to GFortran. Once f18 (officially accepted into the llvm project) gets released and is stable and in Homebrew then there may be additional things to discuss/consider.

[2019-06-05 13:01] vitorgalvao commented on #6211
https://twitter.com/MacHomebrew/status/1136249501252038662:

[2019-06-05 15:23] #6150 closed

[2019-06-06 04:54] pcr910303 commented on #6211
@vitorgalvao Sorry for spamming the issue thread, but does that mean I can’t install `ruby` with `brew`? That’s pretty concerning...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 06:03] ladislas commented on #6211
@pcr910303 no, you will be able to install ruby with brew.

see discussion [here](https://discourse.brew.sh/t/mac-os-deprecating-system-scripting-languages/4941)

[2019-06-06 06:15] pcr910303 commented on #6211
@ladislas Thanks for pointing out 👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-06 08:03] kantin13 opened #6213 "How to use brew on macos 10.15 beta?"
Hello,
I would like to install packages with brew but i switched to macos 10.15 and i have a message:
Error: You are using macOS 10.15.
We do not provide support for this pre-release version.
You will encounter build failures with some formulae.
Please create pull requests instead of asking for help on Homebrew's GitHub,
Discourse, Twitter or IRC. You are responsible for resolving any issues you
e

[2019-06-06 08:04] #6213 closed

[2019-06-06 13:43] txkk007 commented on #6184
I did not create any thing I have no idea how to do this nor I have I ever
tried can you please do it for me I’m pretty much illerate

On Wed, May 29, 2019 at 9:30 AM Mike McQuaid <notifications@github.com>
wrote:

--
Kim Brock

[2019-06-06 13:45] txkk007 commented on #6184
I did not creat or do anything on your site someone must be hacking my
stuff to get my money some hoe can you please help me stop it from
happening and put this on my name and fix it please I have no idea what
this even is sir for real I do not know nor have I ever used it can you get
back with me ASAP please

On Thu, Jun 6, 2019 at 8:42 AM Kim Brock <kimdbrock@gmail.com> wrote:

--
Kim Brock

[2019-06-06 20:40] Jarli01 opened #6215 "MacOS 10.14.5 doesn't include xCode CLT by default"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-06-06 20:42] NemesisOfNo commented on #6215
xcode-select —install fails for me. This started on Tuesday. I noticed that there was a beta for the CLT on Monday during wwdc, but then it disappeared.

I confirmed on a network with caching server I cannot download the pkg and confirmed from home I cannot either.

I am willing to bet the update catalog from Apple is pointing to the beta that was pulled.

[2019-06-06 20:44] MikeMcQuaid commented on #6215
We cannot fix this. Only Apple can.

[2019-06-06 20:52] Jarli01 commented on #6215
What I've done is logged into the developer portal and manually downloaded the dependency and scripted that install before brew attempts its install.

Not ideal, I know, but here it is for anyone who needs it.

```hdiutil attach /Path to Command_Line_Tools_macOS_10.14_for_Xcode_10.2.dmg```

```sudo installer -pkg /Volumes/Command\ Line\ Developer\ Tools/Command\ Line\ Tools\ \{macOS\ Mojave\ versi

[2019-06-06 20:56] Jarli01 commented on #6215
I have a developer account, can you provide some insight into what specifically is failing as I don't have anything to point the apple team too.

[2019-06-06 23:11] mistydemeo commented on #6215
I submitted a feedback report - `rdar://6128607`

[2019-06-07 05:40] lwolfsonkin commented on #6172
@MikeMcQuaid  I was just going to get to doing this, but had a quick question.

How would/does Homebrew deploy this? Can it use the same mechanism as `fish_completion.install` to install the completions in the right place and do so whenever Homebrew upgrades itself? Do the bash/zsh completions do this with `bash_completion.install` and `zsh_completion.install` respectively?

I figured that the fac

[2019-06-07 07:48] MikeMcQuaid commented on #6172
See https://github.com/Homebrew/brew/tree/master/completions https://github.com/Homebrew/brew/blob/master/Library/Homebrew/cmd/update-report.rb#L138-L171  https://github.com/Homebrew/brew/blob/14755541b0e786e190d415a6d9d74c2e5023802a/Library/Homebrew/utils/link.rb#L62-L72

[2019-06-07 19:20] Jarli01 commented on #6215
@mistydemeo any update from Apple on this?

[2019-06-08 14:49] dive commented on #6215
This is the [direct link](https://download.developer.apple.com/Developer_Tools/Command_Line_Tools_for_Xcode_11_Beta/Command_Line_Tools_for_Xcode_11_Beta.dmg) to download Command Line Tools for Xcode 11 Beta. Works more or less fine to me on macOS 10.15 beta.
I do not recommend to install Command Line Tools for Xcode 10.2.1 on macOS 10.15, there are some internal changes related to the migration to

[2019-06-08 22:40] leonklingele opened #6216 "`brew upgrade FORMULA` should not upgrade FORMULA's dependents"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-06-08 22:40] #6216 closed

[2019-06-09 08:36] MikeMcQuaid commented on #6216
This is intentional. Not doing so will break binary packages.

[2019-06-09 15:06] issyl0 commented on #5744
Is this still a project that’s ongoing? I submitted [a PR](https://github.com/danielbayley/homebrew-changelog/pull/5) in April (with a view to submitting more afterwards) but heard nothing.

[2019-06-09 16:37] danielbayley commented on #5744
Hey @issyl0, sorry I didn't notice! Just merged it… you're welcome to add more, thanks!

[2019-06-10 17:48] MikeMcQuaid commented on #6215
Fixed by Apple now.

[2019-06-10 17:48] #6215 closed

[2019-06-12 13:58] hitzhangjie opened #6222 "why -with-default-names removed"
why -with-default-names option removed?
it's useful.

[2019-06-12 13:58] #6222 closed

[2019-06-13 03:43] mofo37 commented on #5730
Hi! I'd like to work on this issue, but I'm having trouble running the tests. What is the command to run them? I tried `ruby collector_spec.rb` and a couple other file names/folder structure paths, but I'm getting require errors. Thanks!

[2019-06-13 03:51] GauthamGoli commented on #5730
Tests can be run using `brew tests` command

[2019-06-13 13:01] hrls opened #6224 "brew rm --with-dependencies"
# A detailed description of the proposed feature
Uninstall formula and its dependencies graph (if there no other packages depends from).

# The motivation for the feature
Usual task.

# What alternatives to the feature have been considered

https://stackoverflow.com/questions/7323261/uninstall-remove-a-homebrew-package-including-all-its-dependencies

[2019-06-13 13:02] #6224 closed

[2019-06-13 13:07] hrls opened #6225 "brew rm --with-dependencies"
# A detailed description of the proposed feature

Uninstall formula and its dependencies graph (if there no other packages depends from).

# The motivation for the feature

Usual task, nuff said.

# How the feature would be relevant to at least 90% of Homebrew users

Batching few `brew rm` and `brew deps` commands and custom scripts into the single one basic feature.

# What alternatives to the fe

[2019-06-13 16:01] zachauten commented on #5725
@MikeMcQuaid What should the threshold for an upgrade be? I imagine there may be situations where we might not want to automatically bump major versions of a package, and bumping hundreds of packages every time there’s a new patch version could create a lot of noise.

[2019-06-13 16:12] jum opened #6227 "The option --force-bottle does still install from source"
- [X ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [ X] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/

[2019-06-13 17:08] MikeMcQuaid commented on #6224
@hrls ☝️

[2019-06-13 17:09] MikeMcQuaid commented on #6225
`brew bundle dump` and `brew bundle cleanup` is your best bet for this or combining `brew rm` and `brew deps` as you've mentioned.

In future please don't recreate issues when told not to by the bot.

[2019-06-13 17:09] #6225 closed

[2019-06-13 17:10] MikeMcQuaid commented on #5725
A new version being available.

I'm not sure I understand this, can you elaborate?

[2019-06-13 17:11] MikeMcQuaid commented on #6227
It did attempt to install the bottle but it failed. Consider setting `HOMEBREW_CURL_RETRIES` instead.

[2019-06-13 17:11] #6227 closed

[2019-06-13 23:16] zachauten commented on #5725
Sorry, never mind that part about patch versions; My thinking was that creating a large amount of PRs at once to update formulae by a small amount would be annoying to manage,  but that would only be the first time you run it.

[2019-06-14 14:00] hrls commented on #6225
Thank for your comment. `brew bundle` is nice feature. But how about the following?
Install FOO package. Then install BAR package. Then remove FOO package with all dependencies (except both BAR and FOO deps for sure).

[2019-06-14 15:14] MikeMcQuaid commented on #6225
We will not implement that feature, sorry.

[2019-06-14 19:21] FiloSottile opened #6230 "Resource#fetch does not verify checksums by default"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-06-15 08:41] alexs77 opened #6231 "Don't exit with error code 1 if pin of formula exists"
- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [X] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-06-15 14:06] MikeMcQuaid commented on #6231
It is an error as we did not upgrade anything despite there being outdated passand you ran `brew upgrade`. Homebrew considers the command-line status codes part of our API so to change this would be a breaking change. Passing on this, sorry.

[2019-06-15 14:06] #6231 closed

[2019-06-15 14:07] MikeMcQuaid commented on #6230
This is not supported syntax for installing formula. What is the output of `brew formula test`?

[2019-06-15 14:13] FiloSottile commented on #6230
[code]

I have definitely seen that syntax once or twice in the wild. Not saying it should be supported, but if it's unsupported it should exit with an error, or at least not silently skip critical security checks.

[2019-06-15 14:17] MikeMcQuaid commented on #6230
It's not clear to me that it is. What's the full output of `brew install ./test.rb --debug --verbose` and `brew fetch ./test.rb --debug --verbose` (run multiple times in a row each, please)?

[2019-06-15 14:25] FiloSottile commented on #6230
`brew fetch` shows a "Warning", while `brew install` skips the "Verifying" step entirely.

<details>

[code]

</details>

As a matter of best practice and security hygiene, I would recommend checking the hash before committing the contents to cache, by the way, and to treat a mismatching hash the same way as a failed fetch. It's always safer not to let attacker controlled invalid data into the sys

[2019-06-15 14:42] FiloSottile commented on #6230
It looks like this is not due to the way the formula is installed (as it reproduces identically from a tap), but to the way the resource is fetched. Using the following syntax leads to a ChecksumMismatchError as expected.

[code]

(This is indeed why I'd suggest making verification an atomic part of fetching.)

[2019-06-15 14:43] MikeMcQuaid commented on #6230
Ok, I see the issue here. It's with your formula:

This fetches the resource but does not validate the checksum. You will notice all use of `resource.fetch` in Homebrew/homebrew-core are in the form `r.verify_download_integrity(r.fetch)`. `Resource#stage` is the preferred API for this use-case.

We would review a PR to address this that also took into consideration the use-case for when users are

[2019-06-15 14:52] FiloSottile commented on #6230
I appreciate the project, but there is no chance I have time, or am qualified, to make security relevant changes in a Ruby project, sorry.

For the sake of safety, I would strongly recommend renaming that API `fetch_without_verifying` or something similar. Sounds like no formula author should ever use it anyway.

Making verification atomic would make it even easier not to nuke the cache: if the ch

[2019-06-15 15:57] MikeMcQuaid commented on #6230
Ok.

We cannot rename it without breaking the existing, correct use of the API `r.verify_download_integrity(r.fetch)`. We could perhaps make it verify by default and allow a parameter for disabling this in the places internally where this is necessary.

I don't disagree with any of this but I'm struggling to see a clear enough attack vector to warrant the work it would take (and you're the first p

[2019-06-15 16:20] MikeMcQuaid commented on #6230
Reopening to address this.

[2019-06-15 17:28] #6230 closed

[2019-06-15 17:39] alexs77 commented on #6231
Well, but OTOH it behaved exactly as expected - all the packages that could be upgraded were upgraded.

But yes, I guess that fixing/changing this might have a lot of consequences that aren't so easy to foresee.

[2019-06-17 20:21] omnilord commented on #6103
I don't understand how breaking dependencies for dozens (if not hundreds) of installed softwares is considered intentional behavior.  Is there a known solution to this issue outside homebrew?  Because one new package triggers reinstalling almost a hundred softwares and packages _every time Readline updates_ is absurd.

[2019-06-17 20:46] iMichka commented on #6103
When you pin stuff, it is a little bit at your own risk.

When we bump versions or make changes, our CI runs and we deliver a working version to our users. We have hundred of thousands of users that are fine with that setup. We ship versions we know are working correctly.

As soon as you pin a package, the dependency tree is less consistent. Stuff may work, or may not work. We want to avoid that h

[2019-06-17 21:02] omnilord commented on #6103
That's all par for the course with most open source projects and does not solve the issue.

Are people just (for scope to the original issue) uninstalling every version of ruby they have through rbenv/rvm every single time they go to run `brew update`?  Then revisiting _every_ project they have on their system, reinstalling those versions of ruby and running `bundle install`?  This makes updating

[2019-06-17 22:24] NickLaMuro commented on #6103
First off, @omnilord I did want to thank you for speaking up as another voice on this thread.  After [originally being turned down](https://github.com/Homebrew/brew/issues/6103#issuecomment-489956567), I was pretty disheartened (to say the least), so having another person voice concerns with this does remove a bit of the imposter syndrome I did have when posting this originally.  While I have some

[2019-06-18 01:00] dillongilmore opened #6236 "Insecure sshpass behavior"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-06-18 04:15] hcoona opened #6237 "Homebrew failed to build github.com/semantic from zipped file"
- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [X] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-06-18 07:32] MikeMcQuaid commented on #6103
@omnilord You can configure `ruby-build` and friends to use their own `readline` (or none at all if you don't need it for e.g. `irb`) so they better handle Homebrew's readline being upgraded. Alternatively, they could use a path to Homebrew's readline that doesn't change. I'm a Ruby developer (using `rbenv` and `ruby-build`) and do not need to reinstall all my rubies on a Homebrew `readline` upgra

[2019-06-18 07:33] MikeMcQuaid commented on #6236
Not currently although I'll take that on board and consider this in future. Thanks for the well written issue!

Yeh, I think Ansible on macOS probably warrants an issue to want a different tool/installation mechanism for this.

[2019-06-18 07:33] #6236 closed

[2019-06-18 07:36] MikeMcQuaid commented on #6237
What is the special character?

It looks like the exception shown is from creating the exception and not extraction.

[2019-06-18 11:43] omnilord commented on #6103
@NickLaMuro, oh man, good to know I'm not alone in coping with imposter syndrome!

First, let me apologize for having a panic attack yesterday and sharing my frustration here. It's just usually Homebrew is the cure for--not the cause of--package problems, and trying to solve this issue with readline has been a source of major anxiety for me in the last couple of iterations because it has become an

[2019-06-18 13:03] MikeMcQuaid commented on #6103
I appreciate the apology, thanks.

I'm not sure as I'm not a `rbenv`/`ruby-build` expert I'm afraid. I plan on having a `rbenv` plugin at some point in the future that will use Homebrew's (binary) Rubies as it's been working pretty well for me locally with the version I've hacked together.

[2019-06-18 19:01] caleb15 opened #6239 "Can't install brew through install.sh"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure o

[2019-06-18 21:17] issyl0 commented on #6239
Hi @caleb15. Sorry about this, there were some syntax errors in some formulae. We’ve now fixed them, so if you run `brew update` again it should succeed and you should have a working install.

[2019-06-18 22:12] caleb15 commented on #6239
No worries, it works now. Thanks for the fix!

[2019-06-18 22:12] #6239 closed

[2019-06-19 05:04] hcoona commented on #6237
@MikeMcQuaid It's my fault. There's no special character in the zipped file. The exception should be raised for other reasons.

[2019-06-19 05:13] hcoona commented on #6237
By patching `error_pipe.puts e` to 196 line in `/usr/local/Homebrew/Library/Homebrew/build.rb`, I got following messages:

[code]

By running the command `unzip -qq /Users/shuaiz/Library/Caches/Homebrew/downloads/d6cd3bae714d9656d16e1dade8fdbefee6db0865186678a8e878ce74775d2028--semantic-0.6.0.zip -d /private/tmp/d20190619-25153-pmtcfj`, I got following error:

[code]

It seems to be an upstream is

[2019-06-19 05:15] hcoona commented on #6237
Notice that running `unzip` without `-qq` option would not report the error message but the exit code is still `50`.

[2019-06-19 05:20] hcoona commented on #6237
`7z` is fine to deal with the zipped file.

[code]

[2019-06-19 07:43] MikeMcQuaid commented on #6237
Thanks @hcoona! closing as an upstream issue.

[2019-06-19 07:43] #6237 closed

[2019-06-19 07:50] dbalakirev opened #6241 "brew should respect DEVELOPER_DIR"
# A detailed description of the proposed feature

We are installing multiple versions of Xcode for our CI/CD machines, so that projects can simply select one by specifying the DEVELOPER_DIR (pointing to the version they prefer).
We also rely on said environment variable during our ansible playbooks, so we do not change the globally selected xcode version all the time by using 'xcode-select -s ...'

[2019-06-19 07:54] MikeMcQuaid commented on #6241
We'd consider accepting a PR for this but a warning that it's likely to be a non-trivial amount of work and require significant amounts of testing.

[2019-06-19 07:54] #6241 closed

[2019-06-19 15:19] rdp commented on #6215
Seems working here...

[2019-06-19 15:36] Jarli01 commented on #6215
@rdp that's because apple FTS and this ticket has been closed for 9 days now.

[2019-06-19 16:24] rdp opened #6242 "brew install tap with options fails"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [ x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure o

[2019-06-19 16:28] MikeMcQuaid commented on #6242
Yeh, this is a valid issue but I'm not sure the best route to fix it. Probably the new tap will need to be tapped with `brew tap` before the argument processing is done.

[2019-06-19 20:24] albertmichaelj opened #6244 "Can't upgrade glib after canceling upgrade"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-06-19 20:38] wholewheattoast opened #6245 "Better suggestion in command line when running brew install instead of brew cask install"
# A detailed description of the proposed feature

Running `brew install kdiff3` returns the following error message;
[code]

Suggesting to reword the error message to better guide the user to the correct command;
[code]

# The motivation for the feature

I use Homebrew frequently but do not often need to run `brew cask install`.  Every time I see the above error It takes me a bit to figure out I j

[2019-06-20 07:34] MikeMcQuaid commented on #6244
Sorry, this is too specific for your machine for us to debug. If you can narrow this down to something reproducible we can take a closer look.

[2019-06-20 07:34] #6244 closed

[2019-06-20 07:38] MikeMcQuaid commented on #6245
Unfortunately this is a generic message that isn't just output on `brew install`. Any thoughts for improvements that could apply outside of `install`?

[2019-06-20 12:29] albertmichaelj commented on #6244
@MikeMcQuaid I'm going to be honest, this is a really frustrating response. I understand if you can't reproduce a bug, but just closing an issue without asking for more specific details when I have included all of the information requested in a bug report feels very dismissive and arrogant.

If you would like more information, please ask for it, and I will do my best to provide it. However, I have

[2019-06-20 13:56] MikeMcQuaid commented on #6244
Please do not call me "arrogant" on the issue tracker of the project I spend my free time running where you are asking me for help regardless whether you feel that way or not.

Quoting your `brew doctor` output:

building Homebrew formulae, and may need to be deleted.

prefix (/usr/local).
You will encounter build failures with some formulae.
Please create pull requests instead of asking for help

[2019-06-20 14:16] albertmichaelj commented on #6244
@MikeMcQuaid That's perfectly fine. You can do whatever you'd like. I tried to report a bug (which has since been confirmed by a second person at my issue on meson https://github.com/mesonbuild/meson/issues/5506#issuecomment-504026316 opened up at the request of another homebrew maintainer), I demonstrated that it was not due to a custom location (making the brew doctor issue moot), and I'm trying

[2019-06-20 14:27] MikeMcQuaid commented on #6244
You also demonstrated that you could not reproduce it in another custom location.

We do not want bug reports from people whose output tells them not to file bug reports. We do not consider them valid and that is the reason we have those messages.

What you need to be willing to do is:

- install Homebrew in the default location
- remove all the files noted by `brew doctor`
- install `glib` from t

[2019-06-20 17:33] retokromer commented on #5561
While running `brew audit` I got:

[code]

[2019-06-20 23:49] zachauten commented on #6245
If I recall correctly `brew install` and `brew info` are the only commands that can generate this error. The code for this message is in `extend/os/mac/missing_formula.rb`. Would it be possible to grab the argument brew was called with from the arg parser at the time the missing formula reason is being generated? If so we could generate a suggested command as a part of the reason.

I'd be happy to

[2019-06-21 21:07] wholewheattoast commented on #6245
That [commit](https://github.com/zachauten/brew/commit/ecef81a9516e5ce87ad9e138719b6a73520ed217)looks like a good option to me.  Sorry I don't know enough about Homebrew's internals to better answer @MikeMcQuaid's question above.

[2019-06-21 23:51] zachauten commented on #6245
Does anyone have an opinion on whether or not it should suggest a command for `brew info`? It already outputs the info so I don't know that there's much of a point.

[2019-06-22 06:58] jamesdbloom commented on #5561
None of the above suggestions have worked for me and I am still unable to run `brew bump-formula-pr` or `brew audit` I get the following:

[code]

Event though each of those suggested commands I can execute without an issue.

I tried

[code]

but that changed the error to this:

[code]

[2019-06-22 07:11] jamesdbloom commented on #5561
Is there any update on when this may be resolved because it has prevented me from updating my formula for 6 months which doesn't seem ideal for a package management tool.

[2019-06-22 07:28] MikeMcQuaid commented on #5561
This is a different error. If that doesn't exist your repository is missing files and you need to `brew update` or `brew update-reset`.

[2019-06-22 07:28] MikeMcQuaid commented on #6245
@zachauten I'd say not output a command for `brew info` 👍

[2019-06-22 15:50] jamesdbloom commented on #5561
`brew update-reset` fixes the second error but the first error still exists

[2019-06-22 17:57] MikeMcQuaid commented on #5561
@jamesdbloom If mean you're still seeing the same issue as in this issue: that's why it's still open.

[2019-06-22 19:57] jamesdbloom commented on #5561
@MikeMcQuaid I mean even trying the working around that others have said resolve the issue this is not resolving the problem on my computer

[2019-06-23 01:05] mcdado commented on #5561
This solved it for me:

[code]

I don't have Xcode installed, I only had the CLI Tools.

[2019-06-23 05:24] jamesdbloom commented on #5561
That just changes the error message I get to the following:

[code]

[2019-06-23 06:56] MikeMcQuaid commented on #5561
@jamesdbloom Please post on our Discourse instead; this issue isn't here to help individuals resolve their own particular errors. If you remove `/usr/local/Homebrew/Library/Homebrew/vendor/bundle/ruby/2.3.0` that may fix it for you but please refrain from posting more in this thread regardless, thanks.

[2019-06-23 11:49] jamesdbloom commented on #5561
@MikeMcQuaid I'm sorry but I thought as per the previous 47 similar comments it was helpful to provide extra information so that the course of the issue could be more clearly understood.  Clearly my comment has upset you as you have not request any of the previous 47 comments to post on discus.  I'm sorry if you been upset.

[2019-06-23 11:52] MikeMcQuaid commented on #5561
@jamesdbloom You haven't upset me, thanks for the apology anyway though. The cause of the issue is understood, it's on Apple's end. Suggested workarounds here are the only additional useful contributions here, thanks.

[2019-06-24 14:15] #6245 closed

[2019-06-25 08:08] ralphrmartin opened #6253 "brew upgrade fails silently if the network is not working"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-06-25 08:32] MikeMcQuaid commented on #6253
How did the command fail; did it hang or terminate? Were there outdated packages or not? How long did it take before you killed it or it terminated?

[2019-06-25 09:00] ralphrmartin commented on #6253
It terminated apparently normally - but did nothing. It did so pretty quickly.

There were no packages that needed updating before a brew update, but a brew update then revealed some packages that did need updating:
brew upgrade normally performs a brew update before trying to do upgrades. What isn't apparent is that this automatically-performed brew update failed, and that brew upgrade was theref

[2019-06-25 11:44] MikeMcQuaid opened #6255 "Migrate Homebrew/homebrew-core CI to GitHub Actions CI"
# A detailed description of the proposed feature

We should migrate the CI for Homebrew/homebrew-core from our own hosted Linux Jenkins instance with our own ESXi clients to Azure Pipelines. This should be done in several stages:

1. We configure Azure Pipelines to test and verify our workflow (@ladislas has offered to do/start this)
    1. We will need to write an `azure-pipelines.yml` for Homebr

[2019-06-25 11:51] ethomson commented on #6255
Last I heard was about 3 weeks from now.  Let me check in and see if there's an update.

[2019-06-25 11:56] MikeMcQuaid commented on #6255
@ethomson Great, thanks Ed!

[2019-06-25 12:35] fxcoudert commented on #6255
Several items say _“will require Microsoft doing X”_… do we have a agreement on principle to those things?

[2019-06-25 12:39] ethomson commented on #6255
@fxcoudert Yes, this is work that we (Microsoft) are doing.

[2019-06-25 14:35] pipboy96 opened #6256 "macOS Catalina no longer includes Ruby by default"
The default installer command for Homebrew (`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`) is not going to work on macOS Catalina since it no longer includes a Ruby interpreter by default [(source)](https://en.wikipedia.org/wiki/MacOS_Catalina#Removed_components).

I believe the best way to deal with that is to create a Bash wrapper that will

[2019-06-25 14:35] #6256 closed

[2019-06-25 14:45] MikeMcQuaid commented on #6253
It's expected behaviour that `brew upgrade` produces no output if there's nothing to upgrade. Similarly, if you have no network connection it's expected behaviour that it cannot update.

[2019-06-25 14:45] #6253 closed

[2019-06-25 14:47] pipboy96 opened #6258 "macOS Catalina no longer includes Ruby by default"
# A detailed description of the proposed feature

The default installer command for Homebrew (`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`) is not going to work on macOS Catalina since it no longer includes a Ruby interpreter by default [(source)](https://en.wikipedia.org/wiki/MacOS_Catalina#Removed_components).

I believe the best way to dea

[2019-06-25 14:47] pipboy96 commented on #6256
And it didn't do anything... the issue is still closed.

[2019-06-25 14:53] MikeMcQuaid commented on #6256
This is wrong. It says it is deprecated. It still includes Ruby by default so the installer still works on Catalina.

[2019-06-25 14:54] MikeMcQuaid commented on #6258
From the issue bot:

Don't create duplicate issues, please.

Duplicate of #6256

[2019-06-25 14:54] #6258 closed

[2019-06-25 14:59] pipboy96 commented on #6258
@MikeMcQuaid Well, it was not actually reopened by the bot, it only checked for correct format once, and I guess no one would dig in closed issues and manually reopen it. Sorry for not checking for duplicates though. I already read more on this issue, macOS Catalina still includes the binaries.

[2019-06-25 15:00] pipboy96 commented on #6256
@MikeMcQuaid This is correct, indeed. I was under impression the install no longer has the Ruby binary.

[2019-06-25 15:00] MikeMcQuaid commented on #6256
A human has to manually reopen your issue.

[2019-06-25 15:01] pipboy96 commented on #6258
I don't like the fact that if you make an incorrectly formatted issue, it is closed and even if you fix it, it's buried in closed issues (since no one will probably re-enable it).

[2019-06-25 15:02] pipboy96 commented on #6256
@MikeMcQuaid Yes, I get it. But I feel like no one will actually ever see your issue again since it's closed.

[2019-06-25 15:02] pipboy96 commented on #6256
You may delete the second issue if you want to (apparently now it is supported).

[2019-06-25 15:07] MikeMcQuaid commented on #6258
Continuing conversation in #6256

[2019-06-25 15:08] MikeMcQuaid commented on #6256
This is not the case. All Homebrew maintainers watching this repository get emailed on every issue that is created.

[2019-06-25 15:09] pipboy96 commented on #6256
@MikeMcQuaid Thanks for clarifying! Sorry again!

[2019-06-25 15:10] MikeMcQuaid commented on #6256
No worries, sorry for the confusion, I'm opening a PR to address: https://github.com/Homebrew/brew/pull/6259 and I genuinely appreciate the apology ❤️. Have a great day!

[2019-06-25 15:15] pipboy96 commented on #6256
I still want to ask to somehow allow some recovery mechanism from incorrectly formatted issue (like allow asking a bot to re-evaluate your issue somehow) (unless this is too hard or this bot is not controlled by you and you can't do that).

[2019-06-25 15:15] pipboy96 commented on #6256
Thanks for everything ❤️.

[2019-06-25 15:20] MikeMcQuaid commented on #6256
Yeh we don't have that much control over the bot, sorry!

[2019-06-25 16:01] teddy-error opened #6260 "Cask uninstall fallback/suggestions"
# A detailed description of the proposed feature

When attempting to uninstall a cask with incorrect syntax a generic error message is displayed:

[code]

A more useful error message might be to suggest the correct syntax:

[code]

This would be just like the error-handling behavior exhibited when incorrectly installing a cask:

[code]

# The motivation for the feature

I was removing a brew-insta

[2019-06-25 16:08] teddy-error opened #6261 "Brew uninstall cask helpful error message/fallback"
# A detailed description of the proposed feature

When attempting to uninstall a cask with incorrect syntax a generic error message is displayed:

[code]

A more useful error message might be to suggest the correct syntax:

[code]

This would be just like the error-handling behavior exhibited when incorrectly installing a cask:

[code]

# The motivation for the feature

I was removing a brew-insta

[2019-06-25 16:19] MikeMcQuaid commented on #6261
Please edit and comment on https://github.com/Homebrew/brew/issues/6260 rather than creating a duplicate issue.

[2019-06-25 16:19] #6261 closed

[2019-06-25 16:25] teddy-error commented on #6260
Updated

[2019-06-25 16:33] MikeMcQuaid commented on #6260
@zachauten Thoughts on this?

[2019-06-25 17:29] ralphrmartin commented on #6253
While I agree "It's expected behaviour that brew upgrade produces no output if there's NOTHING to upgrade. ", in this case there MAY be something to upgrade, and brew upgrade cannot tell without a network connection.
The user may not be aware that the network is not working.
Thus, I still believe the correct behaviour is to report something like:
"Unable to determine what can be upgraded due to la

[2019-06-25 18:09] MikeMcQuaid commented on #6253
We cannot tell the difference between a lack of network connection, GitHub downtime, a misconfigured proxy and a misbehaving internet connection. We intentionally don't show output from auto-update failures in this way. If you run `brew update` explicitly you can see an error.

[2019-06-25 20:57] Moisan commented on #6255
Why is it that way?

[2019-06-26 02:38] zachauten commented on #6260
Yeah, I think this seems like a good idea. Are there any other commands besides `info` and `install` that could benefit from a "suggestion"?

I think the quick way would be to catch the `NoSuchKegError` thrown by `ARGV.kegs`, check if a cask with the same name is installed, and if it is then suggest `brew cask uninstall`.

It would be nice if we could reuse some of the code from `cask_reason` in `

[2019-06-26 07:55] MikeMcQuaid commented on #6260
I'm not sure; maybe `upgrade`?

Yeh, I think reusing this would be nice. Maybe it could be another module that `MissingFormula` can call instead? Then again, `brew uninstall` could also just use the `MissingFormula` logic?

[2019-06-26 08:02] MikeMcQuaid commented on #6255
@Moisan Homebrew/brew currently already uses Azure Pipelines whereas Homebrew/homebrew-core uses Jenkins and our own agents.

[2019-06-26 19:38] iMichka commented on #6255
Special bonus: you can clone the linuxbrew-core release pipeline which is already being used. There will be 2-3 env variables and tokens to change, but that should be it. I can help with that part, but it is pretty straightforward.

[2019-06-26 22:49] sjackman commented on #6255
Amazing! Are you using it for builds that time out or exceed memory on CircleCI?

[2019-06-27 00:47] zachauten commented on #6260
Aren't most of the reasons in `MissingFormula` irrelevant to an uninstall (deleted, blacklisted, tap migration)? The only one we care about in this situation is `cask_reason`, but the way `cask_reason` checks if something is a cask would also need to be different, because `uninstall` would only need to look through installed casks.

This does seem like something that conceptually belongs in `Missi

[2019-06-27 05:32] iMichka commented on #6255
Yes. In these cases I manually trigger the release pipeline for that build, and upload the bottles that way. Far better then building the bottles on my computer locally ...

[2019-06-27 07:17] MikeMcQuaid commented on #6260
Great points.

Yeh, could just be another method in there called directly with some shared logic.

[2019-06-27 08:02] MikeMcQuaid opened #6263 "Create `.keepme` files in directories after creation/`brew update`"
# A detailed description of the proposed feature

The top-level directories in `/usr/local` e.g. `/usr/local/sbin` should have a `.keepme` file or similar created in them to avoid their removal in the macOS Catalina 10.15 installer.

# The motivation for the feature

Avoid users having to manually `sudo` to recreate these directories.

# How the feature would be relevant to at least 90% of Homebre

[2019-06-27 15:50] MikeMcQuaid commented on #6255
I chatted with MacStadium today and they pointed me to Orka (https://www.macstadium.com/orka) and their improved Cloud Automation docs (https://docs.macstadium.com/docs/cloud-automation).

If this worked out for us it could be something we use with our dedicated hardware while still migrating our CI frontend from Jenkins to Azure Pipelines.

[2019-06-27 17:03] zbeekman commented on #6255
I would be impressed & surprised if Azure pipelines started supporting beta macOS releases. For this reason I suspect we would want to keep MacStadium infra for dealing with new OS releases.

But, in general, looks great!

[2019-06-28 19:17] dcecile opened #6264 "`brew cask list --full-name` gets confused by adding a tap"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-06-29 03:05] zachauten commented on #6260
Based on #5730, `ARGV.rb` is legacy, and we should favor using `parser.rb` right? Asking because `uninstall.rb` uses `ARGV.rb` in a few places and I'd like to clean that up while I'm working in the file if that would be appropriate.

If this is the case, where should the `ARGV.kegs()` logic be moved? `keg.rb`?

[2019-06-29 07:25] xiyupingxuan opened #6266 "Installation on Mac fails...."
SignaldeMacBook-Pro:~ signal$ /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

==> This script will install:
/usr/local/bin/brew
/usr/local/share/doc/homebrew
/usr/local/share/man/man1/brew.1
/usr/local/share/zsh/site-functions/_brew
/usr/local/etc/bash_completion.d/brew
/usr/local/Homebrew

Press RETURN to continue or any other key to abort
==> D

[2019-06-29 07:25] #6266 closed

[2019-06-29 07:27] xiyupingxuan commented on #6266
Mobile hotspot  or WIFI all try,All failure.
I tried it five times and failed every time.

Every time it fails here

Press RETURN to continue or any other key to abort
==> Downloading and installing Homebrew...
remote: Enumerating objects: 35, done.
remote: Counting objects: 100% (35/35), done.
remote: Compressing objects: 100% (27/27), done.
error: RPC failed; curl 18 transfer closed with outstan

[2019-06-29 07:34] MikeMcQuaid commented on #6260
Sounds good!

https://github.com/Homebrew/brew/blob/master/Library/Homebrew/cli/args.rb

[2019-06-29 18:04] manueljordan opened #6267 "Let upgrade and use Homebrew without matter the Mac's OS release"
# Description

I use `Homebrew` since 2013, thanks so much for this!. I bought my MacBook Pro in 2013 and it came with `Mountain Lion`, 2 years later due `Homebrew` upgrade (it was my only reason to upgrade the MacOS version) I did an OS upgrade to the `El Capitan`, sadly the my Mac became 15% slower.

I am a `Java` developer

Now this situation arised again, I need upgrade `Homebrew`, but it asks

[2019-06-29 18:04] #6267 closed

[2019-06-29 18:05] manueljordan commented on #6267
Hello, the link shared is broken.

I want fix this issue to avoid it be closed.

Thank you

[2019-06-29 18:20] vitorgalvao commented on #6267
Homebrew supports macOS from Mavericks on. What command did you run that asked you to update to Mojave? What was the exact messaging?

[2019-06-29 18:26] manueljordan commented on #6267
I have in my Mac currently the `El Capitan`, I have the following scenario with `brew doctor`

[code]

I assumed the risk in some way, but is problematic.

I was able to upgrade some formulas (if my memory does not fail me `Git`) but I was not able to upgrade `MySQL`

[2019-06-29 18:32] vitorgalvao commented on #6267
Well, there you, that message explains everything. Some things will work, some won’t, and they’re not all under our control. In [MySQL’s case](https://github.com/Homebrew/homebrew-core/blob/bd0e85061856a653bc01a572d1a8d4eaee3073db/Formula/mysql.rb#L15L21), *they* don’t support your old macOS version, and presumably for good reason: there’s an incurred maintenance burden to supporting old versions.

[2019-06-30 01:49] manueljordan commented on #6267
Thanks for the explanation. I understand the situation

[2019-07-02 10:08] aried3r opened #6271 "Installing a cask using --debug does not print the artifacts, but the object (e.g. #<SortedSet:0x00007f8434ee5948>)"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [ ] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-07-03 00:37] joseph-long opened #6274 "Homebrew not finding newer git from $PATH"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-07-03 04:16] sjackman commented on #6274
I created Linuxbrew for this reason, so you're in good company.

[2019-07-03 04:18] sjackman commented on #6274
Try these (untested) alternative alternative (alternative²) installation instructions using `curl` rather than `git` to install Homebrew:
[code]

[2019-07-03 04:21] sjackman commented on #6274
A couple of options to try to use your local `~/.local/bin/git` executable. First, try `export HOMEBREW_NO_ENV_FILTERING=1` to use your `PATH` rather than the default `/usr/bin:/bin`.
Second, you can `export HOMEBREW_DEVELOPER=1 HOMEBREW_GIT_PATH=$HOME/.local/bin/git`.

[2019-07-03 04:22] sjackman commented on #6274
https://github.com/Homebrew/brew/blob/6418230f8fc86093f96f4156a2cdcabfd55f03f7/Library/Homebrew/brew.sh#L201-L204

[2019-07-03 04:39] sjackman commented on #6274
Once you get it working, I'd be most happy to review a PR that makes the installation smoother on older distributions. Here's a wiki with installation instructions on for CentOS 6. Feel free to edit it: https://github.com/Linuxbrew/brew/wiki/CentOS6

[2019-07-03 04:54] joseph-long commented on #6274
`export HOMEBREW_NO_ENV_FILTERING=1` might have done the trick! I'm certainly getting further along with `brew update`.

[2019-07-03 05:08] joseph-long commented on #6274
I tried the `curl` instructions just to see if they worked (since that would be easier to document than building one's own `git`), but unfortunately `brew update` starts by converting the checkout to a shallow clone. I tried `brew install git` but it just installs portable ruby and then it too tries to convert the checkout to a git repo.

[2019-07-03 05:57] joseph-long commented on #6274
Written up at https://joseph-long.com/writing/linuxbrew-with-ancient-git/ for posterity, as the wiki page you linked is archived. If there's another good place to put it, I can copy it over!

[2019-07-03 07:57] #6274 closed

[2019-07-03 15:10] maxim-belkin opened #6275 "Output of `brew list`"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-07-03 15:19] maxim-belkin opened #6276 "`brew cleanup` is too thorough"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-07-03 15:24] maxim-belkin commented on #6275
Turns out I had `HOMEBREW_VERBOSE` set...

[2019-07-03 15:24] #6275 closed

[2019-07-03 16:37] sjackman commented on #6274
Nice write up! I've tweeted your article here: https://twitter.com/linuxbrew/status/1146457021174054918
Are you on Twitter? I couldn't find your handle. Get thee on Twitter! If only so other Science tweeps can tag you in posts.

😂 This issue still mystifies me. Dealing with a ten year old operating system consumes so much time. It's absolutely insane. Docker and Singularity should help a lot. My s

[2019-07-03 16:39] sjackman commented on #6274
That's me! Also, I graduated last month! I have a photo of me wearing a silly hat to prove it. 🎓 Would you mind linking to my web site? https://sjackman.ca

[2019-07-03 16:43] sjackman commented on #6274
Hmm. Yes, I forgot about that. Do you have the time and inclination to submit a PR to improve the installation of Homebrew on older distributions? This would largely amount to detecting when `git` is too old, and either failing with a (hopefully helpful) error message, or better, taking an alternative installation route by default. If so, I'm happy to point you to the right section of code to get

[2019-07-03 18:23] mcandre opened #6277 "Source not cask, for OpenJDK"
Could we get a plain source recipe for OpenJDK? This would allow for more customization compared to a cask.

[2019-07-03 18:23] #6277 closed

[2019-07-04 10:20] MikeMcQuaid commented on #6274
Here's some of the relevant code:

https://github.com/Homebrew/brew/blob/895467ad9f57a9245c36def26abca729f2559fbb/Library/Homebrew/brew.sh#L114-L128
https://github.com/Homebrew/brew/blob/895467ad9f57a9245c36def26abca729f2559fbb/Library/Homebrew/brew.sh#L151-L159
https://github.com/Homebrew/brew/blob/895467ad9f57a9245c36def26abca729f2559fbb/Library/Homebrew/brew.sh#L161-L168

It seems some of this

[2019-07-04 15:47] joseph-long commented on #6274
In the command output above, you can see brew following the "force brewed git" (and curl) path, but other parts of Homebrew are supplying arguments to git that are too new, and the attempt to install its own `git` fails.

I'm not sure if I should go through and make those invocations of `git` backwards compatible all the way back to 1.7.1... ideally there'd be a "portable git" like the portable ru

[2019-07-04 16:19] sjackman commented on #6274
It's only really `brew update` and some `git config` stuff that requires `git`. Much of that can be deferred until we have a working version of brewed `git` installed. The fix as I see it would be to detect when the system version of `git` is missing or too old (when `HOMEBREW_FORCE_BREWED_CURL` is set), and if the brewed `git` is not yet installed, skip running `git`. For example, don't auto-upda

[2019-07-05 22:19] nmusolino opened #6279 "brew upgrade should have a '--no-dependents' option"
# A detailed description of the proposed feature

Currently, when a user runs `brew upgrade <package>`, homebrew will upgrade all the package's dependents, i.e. all those packages that depend on `<package>`.

The proposed feature is a command line option `--no-dependents` that would disable this cascade of upgrades.

# The motivation for the feature

When using Homebrew, a user may wish to upgrade

[2019-07-06 09:47] MikeMcQuaid commented on #6279
Sorry, but no. Opting out of this behaviour leads to known breakages in packages which is why it's on by default.

The solution to this problem is to uninstall the packages that are not relevant to your build.

Thanks anyway for the issue!

[2019-07-06 09:47] #6279 closed

[2019-07-07 15:25] GauthamGoli commented on #6276
I was looking at fixing this issue and could not reproduce this locally.
[code]

[2019-07-07 15:28] retokromer commented on #6276
This is on Linux:
[code]
while that is on macOS:
[code]

[2019-07-07 16:18] maxim-belkin commented on #6276
@GauthamGoli, set `HOMEBREW_VERBOSE` to `1`. You would then see:

[code]

[2019-07-08 09:27] yurikoles opened #6284 ".github repo"
https://github.com/Homebrew/.github

Repo description has extraneous dot at the end and lacks homepage. Which is inconsistent across other repos. I'm reporting this here, because above mentioned repo has issues disabled.

[2019-07-08 09:28] #6284 closed

[2019-07-08 09:39] yurikoles opened #6285 "[Meta]Make organization repos descriptions more consistent"
Some organization repos have extraneous dots at the end of descriptions and lack homepage. This seems inconsistent with other repos. Dot issue is obvious to fix, but homepage is more tricky, but why don't just put https://brew.sh/?

# The motivation for the feature
Make repos descriptions more consistent.

# How the feature would be relevant to at least 90% of Homebrew users
Above mentioned issues

[2019-07-08 09:39] #6285 closed

[2019-07-08 09:40] yurikoles commented on #6285
What's wrong again?

[2019-07-08 09:41] yurikoles commented on #6285
@reitermarkus,

Help me, please.

[2019-07-08 11:37] MikeMcQuaid commented on #6285
This is not important and you did not fill in the issue template.

[2019-07-09 15:03] ScathonLin opened #6287 "how to install homebrew manually"
How to install homebrew manually?

[2019-07-09 15:03] #6287 closed

[2019-07-09 17:24] L1cardo opened #6288 "It seems that there is already a rebase-apply directory"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [yes] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure

[2019-07-09 17:32] L1cardo commented on #6288
solved by deleting `/usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask/.git/rebase-apply`
This directory is difficult to find.

[2019-07-09 17:33] L1cardo commented on #6288
solved by deleting `/usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask/.git/rebase-apply`
This directory is difficult to find.

[2019-07-09 17:33] #6288 closed

[2019-07-11 15:02] zhishan-li opened #6292 "How to avoid modify those installed files when using brew"
Because the *brew* always install packages into the directory `/usr/local/Cellar`, I have its `rw` privileges. It makes me modify some files of the installed packages by accident. I'm suffering from this pain.

For example:
While learning the OpenCV project, I do some practice. When I read its header file, sometimes I modify it by accident but I am not aware of that.

[2019-07-11 15:02] #6292 closed

[2019-07-12 19:23] jschwinger23 opened #6293 "failed to install formula(curl) with options"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-07-12 20:24] vitorgalvao commented on #6293
[Formulae in `homebrew/core` no longer support options](https://brew.sh/2019/02/02/homebrew-2.0.0/).

[2019-07-12 20:24] #6293 closed

[2019-07-14 19:28] ptmkenny opened #6294 "Provide a way to delete cask installers"
# A detailed description of the proposed feature

Add a command to delete cask installers (all installers in the Caskroom directory).

# The motivation for the feature

brew cleanup can clean up the cache, but cask installers are not considered part of the cache.  If you install MacTeX, it leaves a 4 GB installer behind.

Apple still sells laptops with just 128 GB of space, so it would be nice to

[2019-07-16 19:04] brucehs opened #6300 "Adding an environmental variable to set --display-times as the default"
**Note to maintainers. I believe I included all the information requested in the feature request template (Description, Motivation, Relevance, & Alternatives). If I've missed something, please let me know. Much thanks.**

## Description

I suggest `HOMEBREW_DISPLAY_TIMES` as an environmental variable for setting --display-times as a default option for all intallation commands.

## Motivation for f

[2019-07-16 19:51] #6300 closed

[2019-07-16 19:53] MikeMcQuaid commented on #6300
Sorry, ignore our zealous bot. This is a good idea.
Could you try and open a pull request? [This document](https://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request) should help and we're happy to walk you through anything else.

You'll need to add lines like https://github.com/Homebrew/brew/blob/bf0f1bd3043a6e49521c13414c01ffcebd87d94e/Library/Homebrew/dev-cmd/irb.rb#L30 to all `cmd/` and `dev-cmd

[2019-07-17 13:02] qiyongxiao opened #6304 "brew upgrade Error on macOS 10.15 Developer Beta7"
##Here is the msg:

[code]

[2019-07-17 13:02] #6304 closed

[2019-07-18 18:53] milljm opened #6310 "brew install --build-bottle exits with 0 before building bottle"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-07-18 19:22] milljm commented on #6310
Now that I have all my bottles built, the only I can make this work, is to run the install command twice:

[code]

[2019-07-18 19:49] MikeMcQuaid commented on #6310
Can you try to use `--debug` and `--verbose`? Can you reproduce this with any homebrew-core formulae? Can you figure out a minimal formula that reproduces this? Thanks!

[2019-07-18 19:57] milljm commented on #6310
I will attempt to find one. Not sure if I mentioned this clearly, but everything was fine until I started adding `@version` information to all my formulas. Maybe a few homebrew-core recipes with aliases (I think they are called?) will exhibit the issue. I'll look into it!

[2019-07-19 01:29] endolith opened #6311 "Instructions to add to path don't work"
- [x] are reporting a bug others will be able to reproduce and not asking a question or requesting software. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh. To get software added or changed in Homebrew please file a [Pull Request](https://github.com/Homebrew/linuxbrew-core/blob/master/CONTRIBUTING.md)
- [x] have a problem with `brew install` (or `upg

[2019-07-19 04:18] jonchang commented on #6311
To workaround your current problem: there's a binary in your path called `set` that you need to remove. Try temporarily changing your `PATH` environment variable.

[2019-07-19 06:12] 280482431 opened #6313 "/usr/local/bin/brew: line 91: /usr/bin/env: Argument list too long"
When I run brew command,I Error“/usr/local/bin/brew: line 91: /usr/bin/env: Argument list too long”
Ex:
 brew install cocoapods
/usr/local/bin/brew: line 91: /usr/bin/env: Argument list too long
/usr/local/bin/brew: line 91: /usr/bin/env: Undefined error: 0

brew install wget
/usr/local/bin/brew: line 91: /usr/bin/env: Argument list too long
/usr/local/bin/brew: line 91: /usr/bin/env: Undefined er

[2019-07-19 06:12] #6313 closed

[2019-07-19 06:22] 280482431 opened #6314 "/usr/local/bin/brew: line 91: /usr/bin/env: Argument list too long"
When I run brew command,it Error“/usr/local/bin/brew: line 91: /usr/bin/env: Argument list too long”
Ex:
lvfeijundeMacBook-Pro:~ lvfeijun$ /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
==> This script will install:
/usr/local/bin/brew
/usr/local/share/doc/homebrew
/usr/local/share/man/man1/brew.1
/usr/local/share/zsh/site-functions/_brew
/usr/lo

[2019-07-19 06:22] #6314 closed

[2019-07-19 07:40] MikeMcQuaid commented on #6314
@280482431 Don't recreate duplicate issues. Instead fill out the issue template (https://github.com/Homebrew/brew/issues/new/choose) in this issue.

[2019-07-19 07:40] MikeMcQuaid commented on #6311
Closing as user-specific issue.

[2019-07-19 07:40] #6311 closed

[2019-07-19 14:22] MikeMcQuaid commented on #6242
Changing "probably" here to "this is the right solution and a requirement for a PR on this".

[2019-07-19 17:05] endolith commented on #6311
This is what I had to do, for anyone else with this problem:

[code]

This is a permanent change, you don't need to do it each time.

http://fishshell.com/docs/current/tutorial.html#tut_path

[2019-07-20 07:02] GauthierPLM opened #6315 "Implement "zap" command in brew"
# A detailed description of the proposed feature

Add the `zap` command to brew to extend the command available in cask to all formulae and software installable with brew.

Many software available as formulae will write preferences, cache, etc... in the system. For the end user, it is not easy to keep track of this and without a good amount of researches, it is hard to know how to properly clean t

[2019-07-20 16:19] MikeMcQuaid commented on #6315
I strongly disagree. Most package managers do not do this.

---

This is something that would require a huge amount of effort to cover even a small number of formulae. The best fit if you're interested would be to make a external command (https://docs.brew.sh/External-Commands) with the metadata in the same repository as the command (like `brew livecheck` https://github.com/Homebrew/homebrew-livec

[2019-07-20 16:19] #6315 closed

[2019-07-22 08:40] gireeshpunathil opened #6317 "brew install @lts"
# A detailed description of the proposed feature

Ability to issue `brew install node@lts` that installs the latest stable release

# The motivation for the feature

being able to consume the stable versions as opposed to specific versions

# How the feature would be relevant to at least 90% of Homebrew users

because most users aspire to use `lts` versions of any software

# What alternatives to

[2019-07-22 18:05] MikeMcQuaid commented on #6317
@Homebrew/core for thoughts on this for node specifically with an alias or formula (`jenkins-lts` is some prior art).

[2019-07-22 18:05] #6317 closed

[2019-07-23 01:32] gireeshpunathil commented on #6317
is it closed by mistake? just wondering about the issue life cycle - the above comment suggests that it is forwarded for further considerations, but where that will be tracked, that I can follow? thanks!

[2019-07-23 13:45] MikeMcQuaid commented on #6317
@gireeshpunathil In general we close those out we don't have specific plans to do.

[2019-07-23 13:55] gireeshpunathil commented on #6317
ah! ok. I then mis-interpreted as forwarded for further consideration.

Any reason why this cannot be taken up? invalid requirement / not a common use case / anything else?

[2019-07-24 08:06] MikeMcQuaid commented on #6317
@gireeshpunathil A combination of not enough demand, existing solutions (being able to install by version number) perhaps being sufficient and there be no clear implementation in Homebrew for this solution.

[2019-07-24 08:07] MikeMcQuaid commented on #6317
Also it being pretty specific to NodeJS and a few other tools rather than most formulae.

[2019-07-24 12:20] vitorgalvao commented on #6317
I’ve never seen `LTS` to mean “latest stable release”. To me it always meant [Long Term Support](https://wiki.ubuntu.com/LTS), which is the latest stable only for a short while, then becoming an older and older version that still gets patches.

With that definition, I agree most users want the latest stable, but only a few (generally a company) want the LTS.

[2019-07-24 12:40] gireeshpunathil commented on #6317
@vitorgalvao - I did not mean to expand lts into `latest stable release`. If the requested tag is confusing, please treat it as `brew install xyz@lsr` or something, you got the idea.

suggestion to install by specifying the version does not yield a good user experience, as it requires going through the software's website and reading deeper which, kind of defeats the premise of the tool's flexibili

[2019-07-24 12:43] vitorgalvao commented on #6317
Then what’s the issue with `brew install node`? You don’t *need* to specify a version or any `@`. The default behaviour is to install the latest stable version, isn’t it?

[2019-07-24 13:02] gireeshpunathil commented on #6317
default install installs current version (v12.x) , not the stable one (v10.x). ref: https://nodejs.org/en/

[2019-07-24 13:08] vitorgalvao commented on #6317
That’s the long term support version. [They even state as much on the website](https://nodejs.org/en/about/releases/).

You’re conflating things. “Latest Stable” is not the same as “Long Term Support”. What you want is a version for long term support. In that case, no, I don’t think this is “relevant to at least 90% of Homebrew users”.

[2019-07-24 13:34] gireeshpunathil commented on #6317
I do not wish to pursue this any further, however the data points suggest usage of lts
https://nodejs.org/en/user-survey-report/#version

[2019-07-25 07:58] zaoqi opened #6324 "Warning: Cask 'movist-pro' is unreadable: undefined method `method_missing_message' for Utils:Module"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-07-25 15:25] MikeMcQuaid commented on #6324
From the issue template:

If you add the necessary information to this issue (don't create a new one, please) then this issue may be reopened.

[2019-07-25 15:25] #6324 closed

[2019-07-25 20:15] thibault-ml commented on #6256
It will still be available in Catalina, but deprecated, and gone in "a future version" (likely 10.16).

While active efforts to migrate should not be put in motion just yet, a plan should at least be created that could be set in motion once we know when (if) ruby ever disappears from macOS by default.

[2019-07-25 20:45] mcandre opened #6328 "Source formula for Inkscape"
The binary cask for Inkscape is not installable in restricted environments, where no `--appdir <path>` destination parameter is available. Can we please get a formula for building Inkscape from source, as this is easier to place into the user's arbitrary Homebrew directory?

[2019-07-25 20:46] #6328 closed

[2019-07-26 10:04] #6242 closed

[2019-07-27 23:39] balupton opened #6331 "`brew cleanup` results in `Error: Permission denied @ utime_internal`"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-07-27 23:43] balupton commented on #6331
ok doing `rm  /Users/balupton/Library/Caches/Homebrew/.cleaned` resolved it

[2019-07-28 09:59] #6331 closed

[2019-07-28 13:12] EricFromCanada commented on #6331
The above applies to new installations, but existing installs can be fixed with: `sudo chown $(whoami) $(brew --cache)/.cleaned`

[2019-07-30 16:01] madushan1000 commented on #6059
I would like to work on this feature. Specifically adding `use_core_tap` dsl, and modify `brew extract` to patch formula on extraction.
How should I go about adding the dsl? which source files should I start from?

[2019-07-30 18:30] scpeters commented on #6059
@madushan1000 to start, I think the dsl can be added to the BottleSpecification by adding `:use_core_tap` to the `attr_rw` list in software_spec.rb:

* https://github.com/Homebrew/brew/blob/master/Library/Homebrew/software_spec.rb#L335-L338

[2019-07-30 18:47] BoazWarshawsky opened #6336 "Cannot install brew cli on Mac 10.14"
When running:
`/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"`

My terminal stuck with this output:

Ignoring curb-0.9.10 because its extensions are not built.  Try: gem pristine curb --version 0.9.10
Ignoring curb-0.9.7 because its extensions are not built.  Try: gem pristine curb --version 0.9.7
Ignoring curb-0.9.3 because its extensions are no

[2019-07-30 19:00] genuinezack commented on #6336
I'm running into this same issue both when attempting to run the install script and when trying to run `brew update` on an already installed copy of brew. `brew doctor` reports the system is good and ready.

[2019-07-30 19:01] genuinezack commented on #6336
Edit with more details:
1. I had an install where `brew update` was hanging. `brew doctor` reported everything was good.
2. Tried to reinstall by re-running the install script. Encountered the issue listed above.
3. Had to CTRL-C the install.
4. Ironically, running `brew doctor` again after the failed installation showed a slew of updates and now `brew update` says my system is up to date?

[2019-07-30 20:40] rdp commented on #6336
I ran into some connectivity (stalling) issues earlier today with github FWIW...

[2019-07-30 20:42] rdp commented on #6242
working well now, thank you!

[2019-07-30 22:43] genuinezack commented on #6336
Yeah, that makes sense. Fingers crossed that’s all it was - I’ll check if it’s cleared up tomorrow.

[2019-07-30 23:55] vitorgalvao commented on #6336
As far as we know, these are Github issues. The solution is to wait for it to be sorted.

[2019-07-30 23:55] #6336 closed

[2019-07-31 04:10] BoazWarshawsky commented on #6336
@vitorgalvao Can we please keep the ticket open as long as we still having the problem? according to github there are no issues currently: https://www.githubstatus.com/

[2019-07-31 07:22] gowthambalashanmugam opened #6337 "brew install gives git@github.com: Permission denied (publickey)."
Hello Team,

I was having homebrew and when updating, due to some error i have uninstalled it. So once i start to install again it has thrown me following error.
MacBook-Pro:~ admin$ /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
==> This script will install:
/usr/local/bin/brew
/usr/local/share/doc/homebrew
/usr/local/share/man/man1/brew.1
/usr/

[2019-07-31 07:22] #6337 closed

[2019-07-31 15:41] genuinezack commented on #6336
Agreed with @BoazWarshawsky - have come back today and checked again. Github status still shows all green, but `brew update` is hanging on the step "Fetching /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask...". When I try to `cd` into that directory and run `git pull` manually, it hangs. I think this might be a more complex issue than just "Github having issues".

[2019-07-31 15:47] genuinezack commented on #6336
Further experiments:
1. `git fsck && git gc --prune=now` runs successfully in the cask, no local repository issues.
2. Other github-hosted repositories clone and pull fine.
3. Clean clone in a new location of `homebrew-cask` also hangs.

[2019-07-31 15:53] spencerhakim commented on #6336
Assuming this is GitHub related, it'd still be helpful to have a ticket open to track any responses from their team, and to track if/when the issue gets resolved.

Also, not for nothing, but they might give more weight to an issue raised by maintainers of one of the more popular macOS tools than they would that same issue raised by a random user. ¯\\_(ツ)_/¯

[2019-07-31 15:57] MikeMcQuaid commented on #6336
I've pinned this rather than reopening.

[2019-07-31 16:05] genuinezack commented on #6336
While it's far from a sanctioned fix, based on my earlier investigations I was able to unstick my local machine this way:
[code]

After that replacement, `brew doctor` is still happy, and `brew update` no longer gets hung at updating the cask. (Interestingly, though, trying to use `git remote set-url origin <ssh>` didn't work)

[2019-07-31 16:12] spencerhakim commented on #6336
I changed the remote to use SSH on my machine and tried to pull with `GIT_TRACE=1`, here's what happened the first time:

[code]

I had no local changes and only have one branch, so I have no idea what that error is about or why it couldn't fast-forward. After manually resetting my local `master` to the same commit as `origin/master`, I tried again:

[code]

`git-upload-pack` seems to be taking an

[2019-08-01 07:41] issyl0 opened #6341 "Make `brew bump-formula-pr` behave more usefully on Homebrew on Linux"
# A detailed description of the proposed feature
​
For Homebrew formulae, there's a command that encourages users to contribute version bumps for formulae they use: [`brew bump-formula-pr`](https://github.com/Homebrew/brew/blob/master/Library/Homebrew/dev-cmd/bump-formula-pr.rb).
​
This works great in Homebrew/homebrew-core for macOS, but not so great in Homebrew/linuxbrew-core as the version bump

[2019-08-02 05:50] MikeMcQuaid commented on #6341
This makes sense to me. Good idea @issyl0!

This may make sense to do as a quick PR while the other one is in development.

[2019-08-02 05:52] #6260 closed

[2019-08-03 06:31] martinhartmann opened #6343 "amd64 Go binaries downloaded on Raspberry Pi"
**Please note we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want

[2019-08-03 23:08] brandonimitch opened #6344 "mac mojave 10.14.6 unable to link keg (node)"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [ ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-08-04 19:13] MikeMcQuaid commented on #6344
Run this. Don't use `sudo`.

[2019-08-04 19:13] #6344 closed

[2019-08-05 00:03] simonrouse9461 opened #6345 "`brew extract` returns errors for some formula-version combinations"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-08-05 02:45] jonchang commented on #6345
If you run this with `--debug` you'll see that it never actually gets to version 3.6.2, because the `python` formula changes from 2.7 to 3.6.4 at some point in the past. Furthermore, because `brew extract` needs to load each formula, our internal formula interface has changed and some formula code is no longer valid in e.g., brew 2.0.

I think we would be interested in a pull request that caught t

[2019-08-05 12:59] MikeMcQuaid commented on #6345
Agreed, will accept PR that fixes that, thanks.

[2019-08-05 12:59] #6345 closed

[2019-08-05 16:27] YoYo-Pete opened #6348 "brew info passes argument as lowercase"
- [√] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [√ ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/hom

[2019-08-06 00:22] zachauten commented on #6348
The reason you're getting the error is because you're using `brew info` on a cask instead of `brew cask info`. See #5456.

If you use `brew cask info dbeaver-community` brew should output the same information without the error message.

[2019-08-06 00:22] #6348 closed

[2019-08-07 12:46] Goldenstarc opened #6351 "Brew update downloads too much"
there is two problem:
1.brew install *** runs brew update
(if you install one other formula it do that again)

2. brew update uses TOO MUCH traffic !
just one used ABOUT 1.5GB whats happening ???

[2019-08-07 12:46] #6351 closed

[2019-08-07 17:55] issyl0 commented on #6341
I was going to do a quick `odie "Unsupported on Linux." unless OS.mac?` edit to address this, then I remembered that `brew bump-formula-pr` is used for Linux-specific taps other than linuxbrew-core (for example linuxbrew/extra and xorg), and that would disable it for _everyone_ no matter what formula they were trying to update in which tap. Due to this, I feel we should just wait for the actual im

[2019-08-09 12:17] MikeMcQuaid commented on #6255
I've updated this to suggest we move towards https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/ instead. It's pretty similar under the hood and the lack of separate access control will make our lives much easier. I will start investigating the move of Homebrew/brew and other repos to that.

[2019-08-10 14:37] cagcoach opened #6354 "Icons in Casks"
# A detailed description of the proposed feature
I wish to have a field "icon" in the casks files which contains a downloadlink to an Image/Icon-File corresponding to the Program-Icon.

# The motivation for the feature
I am currently working on a project which I named BrewStore[1].
Homebrew has a lot advantages for everyday use, but the needed knowlage about terminals are stopping Non-Computer-Peo

[2019-08-10 19:02] MikeMcQuaid commented on #6354
I would suggest you do this in your GUI store yourself or auto extract them after installation.

[2019-08-10 19:02] #6354 closed

[2019-08-11 17:25] Rhythmicc opened #6356 "Wrong tcl-tk version when run "brew install python3""
When I install Python3.7.4 with Homebrew, there is a problem with tcl-tk version.

## My test results

1. `--with-tcl-tk` no longer works with the latest Homebrew. Running `brew install python --with-tcl-tk` still points to system Tcl/TK 8.5.9.

2. The above is also tested with an uninstall/install cycle.

3. Python keeps using system Tcl/TK after installing latest ActiveTcl.

  <img width="810" a

[2019-08-11 17:25] #6356 closed

[2019-08-11 18:01] Rhythmicc opened #6357 "Wrong tcl-tk version when run "brew install python3""
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-08-11 18:52] MikeMcQuaid commented on #6357
Homebrew/homebrew-core (the default repository/tap) no longer provides options for any formulae since Homebrew 2.0.0.

[2019-08-11 18:52] #6357 closed

[2019-08-11 19:43] gentlecat commented on #6304
I'm having the same issue on 10.15 beta.

[code]

Command Line Tools are already installed.

[code]

[2019-08-11 19:50] EricFromCanada commented on #6357
Would it be possible to change the `python3` formula to use a Tcl/Tk version other than Apple's? This would solve a few of [these issues](https://www.python.org/download/mac/tcltk/).

[2019-08-12 07:45] MikeMcQuaid commented on #6357
See https://github.com/Homebrew/homebrew-core/issues/41338#issuecomment-507267450. TL;DR: it needs a patch which someone needs to submit upstream before we could use it.

[2019-08-12 23:40] Kerndog73 opened #6362 "Not upgrading a pinned package should be a warning"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-08-13 04:27] frankli0324 commented on #6336
this definitely has something to with the 91,414 commits I think XD

[2019-08-13 04:59] geoff-nixon opened #6363 "Errors with HOMEBREW_DEBUG enabled with `redact_secrets` and nil secrets"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-08-13 05:16] jonchang commented on #6363
I can't reproduce this bug. `HOMEBREW_DEBUG=1 brew search ''` returns a list of all formulae, as expected.

[2019-08-13 05:18] geoff-nixon commented on #6276
In the general category of "`brew cleanup` is too thorough":

I'll throw in that `brew cleanup` also iterates through **each** installed formula in Cellar, shelling out each time with a `find ... -name .DS_Store -delete`, then repeats itself by doing the the same thing on the _entire_ Cellar directory...

[2019-08-13 05:18] BoazWarshawsky commented on #6336
I have stopped seeing the issues, we need to remember that brew has lots of issues in the past few months according to the changes made in new xCodes releases. Brew's installs depends on that.

[2019-08-13 05:36] geoff-nixon commented on #6363
I unfortunately don't know how to trace it further without something breaking (it yells at me if I try to run `brew.rb` directly, etc.) ...?

But FWIW, this is reproducible for me with a brand new user and a brand new, standard Homebrew install in /usr/local without any other variables manually or in a rc or profile files. 😕

[2019-08-13 05:39] iMichka commented on #6362
Duplicate of #6231

[2019-08-13 05:39] #6362 closed

[2019-08-13 06:07] geoff-nixon commented on #6363
Update:
@jonchang do you happen to have HOMEBREW_GITHUB_API_TOKEN set, or something similar?

Looking at
https://github.com/Homebrew/brew/blob/925ec737fba1db97d0170c56de982900711cacd3/Library/Homebrew/system_command.rb#L37
https://github.com/Homebrew/brew/blob/925ec737fba1db97d0170c56de982900711cacd3/Library/Homebrew/system_command.rb#L67

and

https://github.com/Homebrew/brew/blob/925ec737fba1db9

[2019-08-13 07:16] MikeMcQuaid commented on #6363
@geoff-nixon Can you `brew pull` or `hub checkout` (or equivalent) https://github.com/Homebrew/brew/pull/6364 and see if you can still reproduce with that PR? Thanks!

[2019-08-13 07:17] MikeMcQuaid commented on #6276
@geoff-nixon Could you submit a PR for that?

[2019-08-13 09:35] Kennith-eng opened #6365 "t execute binary file: Exec format error"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-08-13 10:17] veera83372 commented on #6263
Can I pick this one ?

[2019-08-13 10:33] veera83372 commented on #6276
@geoff-nixon, @MikeMcQuaid  I would like to work on it

[2019-08-13 11:02] reitermarkus commented on #6263
@veera83372, go ahead! 👍

[2019-08-13 11:40] geoff-nixon commented on #6363
@MikeMcQuaid Yup, https://github.com/Homebrew/brew/pull/6364 does the trick! For posterity, I've edited the issue slightly to reflect that fact I was incorrect about the `redact_secrets` function.

👍

Thanks for the quick fix!

[2019-08-13 13:08] MikeMcQuaid commented on #6276
@veera83372 Go for it.

[2019-08-13 13:11] #6363 closed

[2019-08-13 16:54] Archez commented on #6112
The same thing is happening for the `chromedriver-beta` cask as well.
`chromedriver` exists on `homebrew/cask`
`chromedriver-beta` exists on `homebrew/cask-versions` and `caskroom/versions`

What happens in my case is I just want to install `chromedriver`; however, the install fails when it performs the update check as I believe both packages have the same starting string, so the conflict clash ha

[2019-08-13 18:23] reitermarkus commented on #6112
@Archez, you seem to have an old tap, run `brew untap caskroom/versions`.

[2019-08-15 09:23] geoff-nixon commented on #6276
@veera83372 Cool.

[2019-08-15 12:04] haakonstorm opened #6873 "dnsmasq LaunchDaemon plist is installed with wrong ownership"
* [x] are reporting a bug others will be able to reproduce and not asking a question or requesting software. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh. To get software added or changed in Homebrew please file a [Pull Request](https://github.com/Homebrew/homebrew-core/blob/master/CONTRIBUTING.md)
* [x] have a problem with `brew install` (or `upgr

[2019-08-16 15:09] gregorywright opened #6386 "Error: stack level too deep"
- [x] are reporting a bug others will be able to reproduce and not asking a question or requesting software. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh. To get software added or changed in Homebrew please file a [Pull Request](https://github.com/Homebrew/homebrew-core/blob/master/CONTRIBUTING.md)
- [X] have a problem with `brew install` (or `upgr

[2019-08-17 11:42] palxex opened #6371 "speedup `brew search`"
# A detailed description of the proposed feature
Yes I know there're already such issue before, BUT my situation is unacceptable. `time brew search xxx` cost me 15 MINUTES.

# The motivation for the feature
Please give me a method resolve it or at least address it.

# How the feature would be relevant to at least 90% of Homebrew users
Everybody requires search before installing, I think.

# What a

[2019-08-17 12:16] MikeMcQuaid commented on #6371
If it's unacceptable to you you have two options:
- Don't use `brew search`
- Submit a pull request to speed up `brew search`.

[2019-08-17 12:16] #6371 closed

[2019-08-17 20:54] caarlos0 opened #6374 "brew upgrade should download new version first"
# A detailed description of the proposed feature

When upgrading a bottle, first download the new version, then remove the old one and, finally, install the new.

# The motivation for the feature

When upgrading things, the thing being upgraded will be unavailable for some time, since its first removed and then the download starts.

I regularly run `brew upgrade` and keep working since it takes so

[2019-08-18 03:44] Jannat980 opened #6375 "Cannot install homebrew on Mac 10.12"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [ ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-08-18 12:15] #6375 closed

[2019-08-18 12:16] #2926 closed

[2019-08-18 12:16] #2930 closed

[2019-08-18 12:16] #3036 closed

[2019-08-18 12:16] #3244 closed

[2019-08-18 12:16] #3317 closed

[2019-08-18 12:16] #4127 closed

[2019-08-18 12:16] #5154 closed

[2019-08-18 12:16] #5178 closed

[2019-08-18 12:16] #5179 closed

[2019-08-18 12:16] #5617 closed

[2019-08-18 12:16] #2925 closed

[2019-08-18 12:17] MikeMcQuaid commented on #6374
Thanks for the kind words. This is a good idea we should consider. In the short-term you can achieve a similar result with `brew fetch $(brew outdated) && brew upgrade`.

[2019-08-19 09:35] annoying258 opened #6378 "Question: when will https://github.com/Homebrew/brew/issues/142 get fixed?"

[2019-08-19 09:35] #6378 closed

[2019-08-19 12:03] amitsharma8891 commented on #6171
Getting same error on `brew install php`

[2019-08-19 12:14] BreathYu opened #6379 "mac"
touch: /Users/desmond/Library/Caches/Homebrew/.cleaned: Permission denied
Failed during: /usr/bin/touch /Users/desmond/Library/Caches/Homebrew/.cleaned
![Uploading image.png…]()

[2019-08-19 12:14] #6379 closed

[2019-08-19 13:41] EricFromCanada commented on #6379
https://github.com/Homebrew/brew/issues/6331#issuecomment-515761830

[2019-08-19 14:05] milljm commented on #6310
I have not abandoned this issue. But I have decided against version control within our own tap. It made little sense to do so once I started successfully performing my own [CI via Civet/homebrew-moose](https://civet.inl.gov). Admittedly, I still have _lots_ to learn.

[2019-08-19 14:05] #6310 closed

[2019-08-20 00:24] danielcompton opened #6382 "Automatically updating Homebrew in the background"
# A detailed description of the proposed feature

I'd like to suggest adding a background updater to Homebrew. This would make every installation of Homebrew automatically check for updates in the background every (say) 24 hours.

My proposal is that this would be turned on by default. If that was deemed too far, having it as an option built into the core software would be a less disruptive altern

[2019-08-20 11:18] vitorgalvao commented on #6382
24 hours is way too long. There are tons of merges everyday that update or fix software in casks and formulae. There’s a reason the auto-update limit is so low, and adding background updates doesn’t replace that.

*You* seem to know what you’re doing, but that’s not the case for a vast number of bug reporters. Have you noticed the bug report template requests that users run a few commands before s

[2019-08-20 14:47] MikeMcQuaid commented on #6382
As @vitorgalvao mentions unfortunately our default is low because it helps reduce the number of issues we get and we actively encourage people who know what they are doing to set `HOMEBREW_AUTO_UPDATE_SECS` to a higher value. I think most of the arguments here could be more straightforwardly be made for the default to just be higher. I can say that we're never (or at least not in the conceivable f

[2019-08-20 14:47] #6382 closed

[2019-08-20 14:54] #6386 closed

[2019-08-20 14:54] fxcoudert commented on #6386
So as a maintainer I can't actually reopen an issue and override the bot? That is going to make migration of issues useless :(

[2019-08-20 14:55] fxcoudert commented on #6386
@gregorywright can you please file it as a new issue, and provide the requested information?

[2019-08-20 19:00] MikeMcQuaid commented on #6386
@fxcoudert If you want to migrate issues in that way you can tweak https://github.com/Homebrew/brew/blob/master/.github/issue-close-app.yml and https://github.com/Homebrew/homebrew-core/blob/master/.github/issue-close-app.yml so they match the same strings.

@gregorywright Can you test if https://github.com/Homebrew/brew/pull/6387 fixes your problem?

[2019-08-20 19:02] MikeMcQuaid commented on #6386
@amyspark Would love your help with this as you wrote the original code ❤️

[2019-08-21 08:51] ppo opened #6393 "Upgrade hooks on given packages"
Allow to define scripts to be executed before upgrading given packages.
Maybe also after, on success or error.

For example: Before upgrading `postgresql`, run `/path/to/pg-backup.sh`.
And (not sure it's a good idea but…): After upgrading successfully `postgresql`, execute `brew postgresql-upgrade-database`.

**Related suggestion (rejected):** [pre/post-install hooks for scripting and plugins](htt

[2019-08-21 08:51] #6393 closed

[2019-08-21 17:06] clubery opened #6395 "How do I get deprecated packages?"
Homebrew will only let me install phpunit 8.0 with php 7+, I don't have a clue about taps and all the other stuff. It used to just work for me with php 5.x and phpunit 6.1.4, now I have a new laptop, nothing works and it won't install what I need. Upgrading this legacy piece of software just because homebrew has decided to stop me from downloading it is out of the question as I just need to fix a

[2019-08-21 17:07] #6395 closed

[2019-08-21 17:12] clubery opened #6396 "How do I get deprecated packages?"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure o

[2019-08-21 18:43] MikeMcQuaid commented on #6396
This is not a bug. You have a question on how to use Homebrew: ask it in Discourse.

[2019-08-21 18:43] #6396 closed

[2019-08-24 14:06] aixiaoxiang opened #6401 "brew install php@7.1 --enable-fpm"
brew install  php@7.1  --enable-fpm

result ：

 `Error: invalid option: --enable-fpm`

[2019-08-24 14:07] #6401 closed

[2019-08-24 15:42] mgscreativa opened #6402 "Gedit install, no icon in Applications"
# What you were trying to do (and why)

Trying to install Gedit text editor

# What happened (include command output)

brew install gedit works fine, but afret finishing, I have no Gedit app in applications

<details>
  <summary>Command output</summary>
  <pre>

Everything seems right

  </pre>
</details>

# What you expected to happen

Have Gedit icon in Applications

# Step-by-step reproduction

[2019-08-24 15:42] #6402 closed

[2019-08-24 15:44] mgscreativa commented on #6402
Filled out the checklist

[2019-08-24 19:07] MikeMcQuaid commented on #6402
Homebrew doesn't install links into `/Applications`. `brew cask` does.

[2019-08-26 13:50] mgscreativa commented on #6402
Ohh I see, is there a `cask` for it available?

[2019-08-26 14:22] MikeMcQuaid commented on #6402
No, sorry.

[2019-08-27 08:07] aixiaoxiang commented on #6401
resolved ， thanks

[2019-08-29 07:13] MikeMcQuaid commented on #6276
Thanks @geoff-nixon. I've posted on the PR that looks most like what we want (https://github.com/Homebrew/brew/pull/6404/files#r318916931) which is to preserve the same behaviour on `brew cleanup formula` but ensure `brew cleanup` doesn't do the duplicate cleanups you've mentioned.

[2019-08-29 08:14] to360 opened #6407 "Safari"
# A detailed description of the proposed feature

# The motivation for the feature

# How the feature would be relevant to at least 90% of Homebrew users

# What alternatives to the feature have been considered

[2019-08-29 08:14] to360 opened #6408 "Safari"
# A detailed description of the proposed feature

# The motivation for the feature

# How the feature would be relevant to at least 90% of Homebrew users

# What alternatives to the feature have been considered

[2019-08-29 08:15] to360 commented on #6408
Thank you

[2019-08-29 08:15] #6408 closed

[2019-08-29 08:15] #6407 closed

[2019-08-29 13:17] to360 commented on #6408
Install PPSSPP 1.8.0 fixes several bugs and substantially improves compatibility with various hardware. Support for mobile PowerVR GPU in Vulkan has been added, fixing many instances of broken display. Here's a full list of major changes:

Avoid crash when starting PPSSPP due to bad AMD Vulkan drivers (#11802)
PowerVR Vulkan display corruption fixed (#11744, #11747)
Naruto Shippuden 3 hang fixed (

[2019-08-29 17:03] geoff-nixon commented on #6276
So, I gave it my best shot. Notes on the PR. Unfortunately, might need to keep that "help wanted" flag up for a while.

[2019-09-01 02:32] yumitsu commented on #6275
I have the same problem. Thanks for your help, @maxim-belkin.
Althought such  is look pretty @all

[2019-09-02 15:30] dawidd6 commented on #6341
I just run into this issue. Good it is already tracked.

Can I ask if there are any ideas on how to make `bump-formula-pr` work on linux too?

[2019-09-02 17:50] feliperaul opened #6415 "Cannot read termcap database OR No entry for terminal type"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-09-02 17:50] #6415 closed

[2019-09-02 17:50] feliperaul commented on #6415
I have filled up the template!

[2019-09-03 01:16] jonchang commented on #6415
Can you please post the exact commands you use from a working system, including `brew install` etc commands and the commands you are using in rails?

`No entry for terminal type "s/myself/.oh-my-zsh";` suggests that some aspect of your `bashrc` or similar is setting the `TERM` variable to something unrelated.

[2019-09-03 01:17] jonchang commented on #6415
Please add the steps to reproduce under the header `Step-by-step reproduction instructions (by running `brew` commands)`.

[2019-09-03 01:49] jonchang commented on #6341
Yes, this is under the header "A detailed description of the proposed feature" in the original post. Please feel free to open a pull request working on this; I'd be happy to review it.

[2019-09-03 07:16] MikeMcQuaid commented on #6415
I see no evidence this has anything to do with Homebrew but instead Rails.

[2019-09-03 09:52] durban89 commented on #6401
how? i want to enabled zts ,beacause i want to usw ptheads

[2019-09-03 23:36] whao commented on #6138
Having same issue on manjaro. Installing `ruby-irb` doesn't solve the problem.

[2019-09-04 22:08] ivanovaos commented on #6171
Same error with brew install googler.
I have python2(2.7) and python3(3.7) installed on mac os x mojave (v 10.14). I also have anaconda. Python3 locations:
[code]

[2019-09-05 02:28] morganrconnolly commented on #6341
I'd like to tackle this

[2019-09-05 05:11] reitermarkus commented on #6341
@morganrconnolly, please go ahead! 👍

[2019-09-05 16:03] LewisErick commented on #6374
While looking into the upgrade.rb code I stumbled upon this:

[code]

How does the `brew fetch $(brew outdated)` @MikeMcQuaid you suggested avoids this behavior?

[2019-09-05 16:35] MikeMcQuaid commented on #6374
@LewisErick I don't understand the question really. It doesn't need to do any linking/unlinking because it's just pre-downloading files. Anything else I can help with?

[2019-09-07 18:37] Behinder opened #6429 "Please bring back options for God sake"
It is big step backwards comparing to MacPorts.
There is no way to install e.g.php with support for Apache. In the result where I install both php and Apache there are no lines related to PHP in httpd.conf.

Doing it manually is not error proof (I am fighting for 2 hours now and cannot install web server).
If there is -s option user need to have possibility for choosing compile variations.

and wh

[2019-09-07 18:37] #6429 closed

[2019-09-08 00:18] alebcay opened #6431 "`brew audit` falsely reports some HTTP status codes as errors"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-09-08 16:10] Midar opened #6434 "--build-from-source ignored for dependencies"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-09-08 16:26] Midar commented on #6434
I just noticed that apparently, this is documented behavior now. I think this was different before:

[code]

So I guess this should be changed to a feature request to allow to build everything from source?

There also used to be an environment variable for this that seems to have disappeared, but I cannot find any rationale why it was removed.

[2019-09-09 08:03] MikeMcQuaid commented on #6434
We intentionally do not support this. It provides no benefit to you, wastes electricity (thus destroying the planet) and increases Homebrew's support burden.

[2019-09-09 08:03] #6434 closed

[2019-09-09 08:08] MikeMcQuaid commented on #6431
Is it still possible to download the referenced URL? If so: yes, the `audit` should be addressed to handle this case. Would you be able to open a PR @alebcay?

Also, can you check your Slack messages on the Homebrew Slack when you get a chance? Want to talk to you about the great work you've been doing recently ❤️

[2019-09-09 09:40] Midar commented on #6434
This is not true: It requires trusting your build infrastructure. You do not do reproducible builds, so this is not possible. On top of that, you had issues with security in the past: https://brew.sh/2018/08/05/security-incident-disclosure/
On top of that, there’s corporations that by policy disallow using binaries that have not been vetted, but allow building from source. So there’s a real need f

[2019-09-09 12:16] MikeMcQuaid commented on #6434
No. Homebrew is not a from-source package manager. If you need one: I suggest you find one that meets your needs instead.

Literally every sizeable project has had security issues at some point in the past although not every one may disclose it responsible as we and the security researcher have done.

[2019-09-09 15:19] alebcay commented on #6431
Yes, the `talloc` download works just fine (other browsers/clients seem to get a 200 instead of the 103, probably because 103 is just a preliminary response of some kind). Should `audit` be addressed to handle just 103, or all 1xx codes?

[2019-09-09 15:27] dnicolson opened #6437 "`brew prof` fails because of Ruby version"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-09-10 14:09] timorunge commented on #6437
Basically the problem is, that `ruby-prof 1.0.0` dropped support for older Ruby versions (see https://ruby-prof.github.io/#version-1.0).

This patch will sort out the issue with an older Ruby version for you (on MacOS):

[code]

Alternatively you can also use brew to install a newer version of Ruby (`brew install ruby`) and try to run `brew prof uses wget` again (I've not tested this solution).

[2019-09-10 14:27] timorunge commented on #6374
Another idea is to also make downloads asynchronously from the installation / upgrade process.

Especially if packages have dependencies they will be downloaded and installed synchronously while at least the downloading part can be handled asynchronously. That will speed the installation / upgrade process up quite a bit.

[2019-09-10 15:28] dnicolson commented on #6437
There seems to be shell code for determining which version Ruby to use, but it always defaults to the included 2.3.7 vendor version. Using brew, rbenv or asdf don't seem to have any effect.

[2019-09-10 16:51] dawidd6 commented on #5561
Just for future reference if someone (like me) would encounter this issue: installing `zlib1g-dev` package via apt fixes this situation.

[2019-09-10 18:20] simplenotezy opened #6438 "Error: Failure while executing; `/bin/launchctl enable gui/501/homebrew.mxcl.mysql` exited with 112."
- [ ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [ ] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-09-10 18:20] #6438 closed

[2019-09-10 18:25] simplenotezy opened #6439 "Error: Failure while executing; `/bin/launchctl enable gui/501/homebrew.mxcl.mysql` exited with 112."
# What you were trying to do (and why)

Installing MySQL so I can work with mysql database locally

# What happened (include command output)

Running: `brew install mysql` then `brew services start mysql` resulting in `Error: Failure while executing; `/bin/launchctl enable gui/501/homebrew.mxcl.mysql` exited with 112.`

<details>
  <summary>Command output</summary>
  <pre>

[admin:~]$ brew install

[2019-09-10 18:25] #6439 closed

[2019-09-10 18:53] simplenotezy commented on #6439
I did post everything.
Sidenote: I believe this has to do with troubles running brew on a multi user setup (e.g. one admin account, and one normal user account)

[2019-09-11 08:32] MikeMcQuaid commented on #6439
@simplenotezy Please don't create duplicate issues in future.

This is your error message. We cannot help you here as it's not a Homebrew bug but you can post in our Discourse.

[2019-09-11 11:55] MikeMcQuaid commented on #6374
@timorunge That's going to add a lot of complexity and require multithreading. It's a possible improvement but we don't accept/merge that for a first pass.

[2019-09-11 12:51] MikeMcQuaid commented on #6431
@alebcay Either 103 or all 1xx code: up to you!

[2019-09-11 13:20] if4lcon opened #6442 "PHP 7.4"
# A detailed description of the proposed feature

PHP 7.4 is coming on November with many improvements

# The motivation for the feature

Developers whom want to update codes to support PHP 7.4 would love to have it in homebrew

[2019-09-11 13:20] #6442 closed

[2019-09-11 13:28] #6437 closed

[2019-09-12 04:45] leafy7382 opened #6445 ""brew list" results in error"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-09-12 06:02] jonchang commented on #6445
Please do these and edit it into the original post.

[2019-09-12 06:02] jonchang commented on #6445
Please paste the contents of `type ls` and `which -a ls`.

[2019-09-12 13:28] jankeromnes opened #6446 "Installing Homebrew-on-Linux creates a root-owned $HOME/.cache directory"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-09-13 07:37] GauthamGoli commented on #6445
Ah, this is a bug in implementation here https://github.com/Homebrew/brew/blob/master/Library/Homebrew/cli/args.rb#L24
There has to be an extra boolean check on the flags.

@maxim-belkin  I am afraid just removing them in `cmd/list.rb` won't fix the bug everywhere else.

[2019-09-13 14:25] sim4life opened #6452 "linuxbrew rust based formula fail to install"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-09-13 14:28] MikeMcQuaid commented on #6452
Please report this in linuxbrew-core.

[2019-09-13 14:28] #6452 closed

[2019-09-13 22:07] AdrianTP opened #6456 "Make Homebrew more flexible with a manifest?"
# A detailed description of the proposed feature

It would be amazing to have Homebrew keep a manifest or something so a user can uninstall and reinstall Homebrew without deleting every app that user used Homebrew to install. Why not just have a db or a file or something that Homebrew can leave behind (with a note during uninstallation notifying the user so they can delete that if they want)? A se

[2019-09-13 23:07] AdrianTP commented on #6456
As a side note: uninstalling and reinstalling Homebrew did fix the problem I was having with Postgres and its dependencies. Luckily I had exported a list of all my installed apps to a Brewfile. This doesn't fix the fact that now any GUI app I installed with Caskroom in the past are no longer connected to Homebrew, but hey...better a small victory than a total loss.

[2019-09-14 10:27] vitorgalvao commented on #6456
Using the Brewfile to `brew cask reinstall --force` all casks should work.

As for the feature request as a whole, it likely doesn’t pass the “relevant to at least 90% of Homebrew users” requirement because I doubt even 50% of users do a full reinstall of Homebrew, but I do agree that if the messaging didn’t explain you’d lose all installed packages, it should.

[2019-09-15 06:52] mnich commented on #6288
i find this folder "rebase-apply" use commend  `find / -name "rebase-apply"`

[2019-09-15 13:25] joanna350 opened #6460 "brew update error: RPC failed; curl 18 transfer closed with outstanding read data remaining"
- [x ] are reporting a bug others will be able to reproduce and not asking a question or requesting software. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh. To get software added or changed in Homebrew please file a [Pull Request](https://github.com/Homebrew/homebrew-core/blob/master/CONTRIBUTING.md)
- [o ] have a problem with `brew install` (or `up

[2019-09-15 13:25] #6460 closed

[2019-09-15 14:59] L1cardo commented on #6288
@mnich thanks！but I wish I would never come across such error.

[2019-09-15 15:41] joanna350 opened #6461 "brew update error: RPC failed; curl 18 transfer closed with outstanding read data remaining"
[x ] are reporting a bug others will be able to reproduce and not asking a question or requesting software. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh. To get software added or changed in Homebrew please file a Pull Request
[o ] have a problem with brew install (or upgrade, reinstall) a single, Homebrew/homebrew-core formula (not cask) on macOS?

[2019-09-15 15:41] #6461 closed

[2019-09-15 15:47] joanna350 opened #6462 "brew update error: RPC failed; curl 18 transfer closed with outstanding read data remaining"
- [x ] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [o ] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/

[2019-09-16 07:37] MikeMcQuaid commented on #6462
This is outside Homebrew's control. Please do not create duplicate issues.

[2019-09-16 07:37] #6462 closed

[2019-09-16 07:40] MikeMcQuaid commented on #6456
`brew bundle dump && brew bundle` will do this.

Yup.

[2019-09-16 07:40] #6456 closed

[2019-09-16 15:57] AdrianTP commented on #6456
Regarding the dump/bundle approach, that is essentially what I did, as I kept a running Brewfile for my "new environment setup" script, but in the end having to uninstall and reinstall every package was a huge pain and took a long time, when the issue was just that Homebrew was misbehaving. I would argue that as a solution it's incredibly brute-force and very inconvenient -- it seems like a ["do n

[2019-09-16 16:32] vitorgalvao commented on #6456
Correct.

Yes, I understood what you want, but we don’t support that. My suggestion was the “best *available* solution” option.

For a slew of reasons, HB’s method of managing CLI tools doesn’t work for HBC’s managing of apps (we know because we tried). For casks, we try to emulate whatever result you’d get from a manual installation and then leave it alone. See https://github.com/Homebrew/homebre

[2019-09-16 17:02] MikeMcQuaid commented on #6456
That's possible but you'll need to figure out how to do it yourself because it's not a widely used desire/need. In future you may find `brew update-reset` sorts out your problems.

Agreed.

[2019-09-16 22:25] AdrianTP commented on #6456
Ok cool. Thank you both for the clarifications; next time I will RTFS (read the fabulous script) before I run something, even from a maintainer/org I explicitly trust. And if there is a next time where I need to uninstall Homebrew, I will see about removing it manually (or backing up the Cellar and Cask directories) before reinstalling it.

As for the Casks, I'll think about what I want to do, but

[2019-09-17 07:27] MikeMcQuaid commented on #6456
Yes.

You're very welcome!

[2019-09-17 09:18] idoo commented on #6263
added PR https://github.com/Homebrew/brew/pull/6464

[2019-09-18 10:42] MikeMcQuaid commented on #5815
Happy to have people go on the issue as reference if that happens but closing out until it looks like it will.

[2019-09-18 10:42] #5815 closed

[2019-09-18 10:44] MikeMcQuaid commented on #6070
Closing this out until someone wants to pick it up.

[2019-09-18 10:44] #6070 closed

[2019-09-18 10:44] MikeMcQuaid commented on #6263
Fixed in https://github.com/Homebrew/brew/pull/6464

[2019-09-18 10:44] #6263 closed

[2019-09-18 10:45] MikeMcQuaid commented on #6276
This is an instruction to the installer but not to `brew cleanup`. `brew cleanup` cannot sensibly parse this attribute from every formula to figure out to avoid cleaning empty directories. Putting a `.keepme` file in that directory is the best bet to avoid cleaning.

This will be addressed in https://github.com/Homebrew/brew/pull/6468.

[2019-09-18 10:45] #6276 closed

[2019-09-18 10:45] MikeMcQuaid commented on #6431
Fixed in https://github.com/Homebrew/brew/pull/6463

[2019-09-18 10:45] #6431 closed

[2019-09-18 14:26] maxim-belkin commented on #6276
`.keepme` or similar is one solution. Another would require Homebrew to keep track of such folders in a separate location similar to linkage information.

[2019-09-18 18:00] ginsburgnm opened #6469 "Brew should allow users to fully control pip arguments"
# A detailed description of the proposed feature
Brew does not appear to allow users to control what pip does under the hood;
"Offending" Line:
./Library/Homebrew/language/python.rb:262

# The motivation for the feature
So my main motivation for this is a package I want to provide via Homebrew needs to be installed without --no-deps. The reason for this is currently due to python2 vs python3; whic

[2019-09-18 21:20] iMichka opened #6470 "brew installs test dependencies by default"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-09-18 22:19] scpeters commented on #6470
see https://github.com/Homebrew/brew/pull/6471

[2019-09-19 02:52] holymonson opened #6473 "make cask.pkg lazyloading"
# A detailed description of the proposed feature

Make stanza `cask.pkg` accept block argument and become lazyloading, like `cask.url`.

# The motivation for the feature

To fix https://github.com/Homebrew/homebrew-cask-versions/issues/7838 .

# How the feature would be relevant to at least 90% of Homebrew users

Reduce unnecessary http requests to third-part url.

[2019-09-19 02:52] #6473 closed

[2019-09-19 02:56] holymonson commented on #6473
# What alternatives to the feature have been considered

no

[2019-09-19 03:02] holymonson commented on #6473
@reitermarkus Would you please check it out?

[2019-09-19 07:43] MikeMcQuaid commented on #6470
Thanks for quick turnaround @scpeters! The existing behaviour was because we were initially just using `:test` when we also used `:build`.

[2019-09-19 07:47] MikeMcQuaid commented on #6469
I think we'd need to see a use for this in Homebrew/homebrew-core packages before we'd accept it. You can pass whatever `pip` arguments you like if you choose to run the commands manually with `system` rather than using the DSL (which is simplified/limited by design).

[2019-09-19 07:47] #6469 closed

[2019-09-19 16:53] KizzyCode commented on #6263
Hi, do you have any further information or a reference by Apple how this file is honored? Asking because I'm already using Catalina Beta 8 and the folders haven't been removed yet even without this file. It could be relevant to some of my projects but I've tried to search for and was unable to find any sources.

[2019-09-19 16:59] MikeMcQuaid commented on #6263
@KizzyCode I don't have a public source, sorry. I believe @fxcoudert saw this during testing and we were advised by Apple engineers to do this.

[2019-09-19 17:38] ginsburgnm commented on #6469
Well, the use case for it, is to keep the requirements in a single location. And to not have to generate a file over 500 lines of code (take a look at ansible's: https://github.com/Homebrew/homebrew-core/blob/master/Formula/ansible.rb 543 lines of this are dependency declarations). anytime your requirements file gets updated. The current way Homebrew's pip venv stuff works, is to encourage these m

[2019-09-20 15:47] chenzww opened #6476 "Can not keep both "kotlin" and "kotlin-native" available"
"kotlin" related commands will be replaced by "kotlin-native"(cask).

[2019-09-20 15:47] #6476 closed

[2019-09-20 17:11] leedrake5 opened #6477 "Bad r install"
I started off normally:

[code]

And it downloaded a new version of R

But when I load R, this is what happens

I tried removing everything, and reinstalling, to no avail. Same issue. I don't know if others are having this problem, but I'm worried something is broken.

[2019-09-20 17:11] #6477 closed

[2019-09-20 19:52] ipstone opened #6478 "plan9port disappeared from brew?"
Hello, I am trying to `brew install plan9port`, which was working a few weeks/days back, but it's no longer available - what happened to the formula?

thanks!

[2019-09-20 23:30] vitorgalvao commented on #6478
`plan9port` was removed. See https://github.com/Homebrew/homebrew-core/pull/38394 and the linked issues as to why.

In the future, for formula questions you want https://github.com/Homebrew/homebrew-core, not this repo.

[2019-09-20 23:30] #6478 closed

[2019-09-22 04:39] sm44 commented on #6331
<img width="682" alt="屏幕快照 2019-09-22 12 38 15" src="https://user-images.githubusercontent.com/36100167/65382352-ecf51280-dd35-11e9-9867-824cf459c4e7.png">
what should I do?

[2019-09-22 05:21] holymonson commented on #6473
@MikeMcQuaid Would you please check this out?

[2019-09-22 16:19] balupton commented on #6331
@sm44 not sure what the fish shell is, I'd say type `bash -il` then enter the aforementioned bash command(s)

[2019-09-22 17:11] EricFromCanada commented on #6331
I've updated my comment above.

[2019-09-23 12:04] MikeMcQuaid commented on #6473
@holymonson I'll defer to @reitermarkus but I suspect the best thing is to create a pull request for discussion. Alternatively, create an issue on Homebrew/homebrew-cask.

[2019-09-24 06:57] qin218 opened #6483 "can't install Homebrew on macOS Mojave version 10.14.6"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [no] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure o

[2019-09-24 07:42] MikeMcQuaid commented on #6483
This is an issue with your internet connection to GitHub. We can't do anything about this.

[2019-09-24 07:42] #6483 closed

[2019-09-24 18:43] rubyFeedback opened #6486 "[Documentation] Please consider adding a link from the main README towards the linux-subsection, if possible"
Hello homebrew devs,

Would it be possible to:

a) add a link from the main README to how to work with homebrew on linux?

and

b) improve that aspect, from a tutorial point of view?

I remember some months ago I tried to run homebrew on linux. It worked
somewhat but not perfect; so I had hoped that after some time it may work
better now. But as I am just looking at the main README, I can not find

[2019-09-24 18:43] #6486 closed

[2019-09-25 01:53] jonchang commented on #6486
The installation instructions for Homebrew on Linux are linked from the [homepage](https://brew.sh/), which should be sufficient.

[2019-09-25 02:54] henri opened #6487 "brew installation - no user interaction"
#5808 - A detailed description of the proposed feature
Interested in the possibly of a wrapper script which you can run as root to install brew without any user interaction. A package install could also be an option? Just investigating this possibility. Maybe you pass in the admin short name details for brew to be connected via the terminal as an argument.

# The motivation for the feature
Ability

[2019-09-25 07:27] MikeMcQuaid commented on #6487
You can run the install script non-interactively by not running on a TTY or use an alternate install method. For example, Strap does this: https://github.com/MikeMcQuaid/strap

We'd consider accepting PRs to the Homebrew/install repo to make this easier/more obvious.

[2019-09-25 07:27] #6487 closed

[2019-09-25 17:15] djanowski opened #6490 "`brew install` painfully slow if Homebrew not up to date"
Follow up on https://github.com/Homebrew/brew/issues/4755.

# What you were trying to do (and why)

What: Use Homebrew to install dependencies in a CI environment (CircleCI/macOS in this case).

We're using the CircleCI image for XCode 10.3.0: https://circle-macos-docs.s3.amazonaws.com/image-manifest/build-903/index.html

Why: Because our build scripts need tools not included in macOS, and Homebre

[2019-09-25 17:15] #6490 closed

[2019-09-25 17:16] djanowski commented on #6490
- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [X] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-09-26 07:51] MikeMcQuaid commented on #6490
From that issue:

This is an issue with CircleCI not keeping their images reasonable up-to-date, not with Homebrew.

If you want to avoid updating: there's documentation for doing that in `man brew` (although we won't fix any issues you encounter with that setup). Otherwise: we'll accept pull requests to make this faster but I'd be surprised if there's anything that's going to dramatically improve

[2019-09-26 21:00] EvaWang369 commented on #6112
I uninstalled and installed brew, then installed kafka (brew install kafka). it works.

[2019-09-28 17:59] dawidd6 commented on #6341
@morganrconnolly any progress on this?

[2019-09-30 09:56] dawidd6 opened #6506 "Producing bottle block gives different results on macOS"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-09-30 11:05] dawidd6 commented on #6506
Patch seems to be fairly simple:
[code]

[2019-09-30 12:44] nvk opened #6507 "hidapi hardcoded Xcode version fails"
[code]

Please use `MacOSX.sdk`

[2019-09-30 12:44] #6507 closed

[2019-09-30 13:02] MikeMcQuaid commented on #6506
@dawidd6 Something like that makes sense but would be nice to make those values into constants e.g. `HOMEBREW_DEFAULT_PREFIX` and `LINUXBREW_DEFAULT_PREFIX` or similar based on where they are currently set in `Library/Homebrew/global.rb` and `Library/Homebrew/os/linux/global.rb`.

[2019-09-30 13:04] dawidd6 commented on #6506
Yep, that's a good idea, I thought about that, too. Will see what I can do and submit a PR.

[2019-09-30 13:58] dawidd6 commented on #6506
`Library/Homebrew/os/linux/global.rb` is loaded before `Library/Homebrew/global.rb`. At least on linux. So, I'm going to declare those two constants in `Library/Homebrew/global.rb`, as I don't know if `Library/Homebrew/os/linux/global.rb` is even loaded on macOS.

[2019-09-30 15:30] #6506 closed

[2019-10-01 08:53] rajeesh1969 opened #6512 "Installing Homebrew in windows 10 is giving the messages "sh: line 27: /usr/bin/sudo: No such file or directory" and "ln: failed to create symbolic link '/c/Users/CEK/.linuxbrew/Homebrew/Library/Homebrew/vendor/portable-ruby/current/2.3.7': No such file or directory" and failed to install."
Installing Homebrew in windows 10 is giving the messages "sh: line 27: /usr/bin/sudo: No such file or directory" and "ln: failed to create symbolic link '/c/Users/CEK/.linuxbrew/Homebrew/Library/Homebrew/vendor/portable-ruby/current/2.3.7': No such file or directory" and failed to install.

[2019-10-01 08:53] #6512 closed

[2019-10-01 09:10] rajeesh1969 opened #6513 "Homebrew installation problem"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-10-01 10:33] dawidd6 commented on #6513
Homebrew does not support windows. If you meant WSL, then install `sudo` with your distro's package manager first.

[2019-10-01 11:52] MikeMcQuaid commented on #6513
Please do not create duplicate issues and post stuff like this in Discourse instead.

[2019-10-01 11:53] #6513 closed

[2019-10-01 13:19] ketanbhatt commented on #6374
Is anyone working on it? I would like to contribute :)
@MikeMcQuaid

[2019-10-01 13:22] MikeMcQuaid commented on #6374
Feel free to open a PR without asking.

[2019-10-01 19:29] broros opened #6516 "Node.js"
# A detailed description of the proposed feature

Make node.js TLS as default

# The motivation for the feature

make things run smoother

# How the feature would be relevant to at least 90% of Homebrew users

node.js TLS is the recommended install for most users

# What alternatives to the feature have been considered

installing the TLS manually

[2019-10-01 23:49] stouset opened #6517 "`HOMEBREW_AUTO_UPDATE_SECS` doesn't seem to have any effect"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-10-01 23:53] stouset commented on #6517
Everything for this ticket should be in order.

[2019-10-02 07:15] MikeMcQuaid commented on #6516
No, sorry.

[2019-10-02 07:15] #6516 closed

[2019-10-02 07:38] MikeMcQuaid commented on #6517
The `HOMEBREW_AUTO_UPDATE_SECS` works by setting the modification time for each Git repository when it is checked and if it has been checked recently avoid checking the GitHub API or running `git fetch` for that repository but still e.g. checks out the right branches etc. The `Updating Homebrew...` messaging is printed if any part of the update process (including e.g. checking the modification tim

[2019-10-02 12:59] Hultner opened #6522 "brew update always triggers boneyard error, etc."
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-10-02 13:21] MikeMcQuaid commented on #6522
The message literally tells you what to run to fix this.

[2019-10-02 13:21] #6522 closed

[2019-10-02 17:15] rdp opened #6524 "show size of downloaded files"
Today when downloading "very large" bottles it can take awhile:

[code]
Especially on slow connections.  It would be nice if it showed more than just percentage.  Things that come to mind: total size, or possibly even "expected time remaining" in the download.

# The motivation for the feature

It's confusing for me not being able to estimate how much longer a download is going to take.  I want to

[2019-10-02 17:50] stouset commented on #6517
Honestly, that behavior seems surprising to me. I would expect that the purpose of the `HOMEBREW_AUTOUPDATE_SECS` flag would be to dramatically speed up `brew install` and `brew upgrade` in the event that you know you've done a `brew update` recently.

It sounds like that's not what it does, but it's unclear to me if its current behavior is actually adding much value. Consider:

[code]

That's a 2

[2019-10-02 18:15] daxmc99 commented on #5561
@mcdado solution worked for me

Worked for me

[2019-10-03 07:30] MikeMcQuaid commented on #6524
This output is from `curl` and not Homebrew so we cannot change this, sorry.

[2019-10-03 07:30] #6524 closed

[2019-10-03 11:59] MikeMcQuaid commented on #6517
@stouset You have convinced me that this needs to change. As a result I've opened https://github.com/Homebrew/brew/pull/6532 to change the functionality to (I think) what you'd expect. Let me know what you think and thanks again!

[2019-10-03 14:06] EricFromCanada commented on #6524
If you pass `-v` or set `HOMEBREW_VERBOSE=1`, `curl` will use its standard progress meter that displays total download size.

[2019-10-03 14:44] #6517 closed

[2019-10-03 16:38] jpninanjohn commented on #6446
Is this still open ?

[2019-10-03 16:59] jpninanjohn commented on #6446
One question:

I am assuming you mean the folders inside `HOMEBREW_CACHE`. Can I not use `chown -R` to recursively change the owner of the directories at the parent level itself ?

[2019-10-03 17:25] sjackman commented on #6446
I mean the directory `/home/linuxbrew/.linuxbrew/.cache/Homebrew` and each of its parent directories.

Yep!

[2019-10-03 17:26] sjackman commented on #6446
Use `chown` as a workaround. In the Ruby `install` code it would `chown` the cache directory and each of its parent directories.

[2019-10-03 17:49] jpninanjohn commented on #6446
Ok....

From the install script -

Line 21 -> `HOMEBREW_PREFIX_DEFAULT = "/home/linuxbrew/.linuxbrew".freeze`

I dont see `.cache` being created under this directory at all. Am I missing something here? Also it is already owned by the user(not root).

Line 22 ->`HOMEBREW_CACHE = "#{ENV["HOME"]}/.cache/Homebrew".freeze`

Wouldn't this cache folder be used by other applications also. I am considerin

[2019-10-03 17:54] sjackman commented on #6446
That was a typo, sorry. `/home/linuxbrew/.linuxbrew/.cache/Homebrew` should have been `/home/linuxbrew/.cache/Homebrew`.

[2019-10-03 17:56] sjackman commented on #6446
`/home/linuxbrew/.linuxbrew/.cache/Homebrew/`
`/home/linuxbrew/.linuxbrew/.cache/`
`/home/linuxbrew/.linuxbrew/`
`/home/linuxbrew/`
should all be owned by `ENV["USER"]`.

[2019-10-03 18:11] jpninanjohn commented on #6446
Added a PR for this. Please check it. Do mention if there is anything I need to change in it.

[2019-10-03 18:28] stouset commented on #6517
Awesome, thank you!

[2019-10-03 18:39] jfoy commented on #6200
More context on where `--no-binary` can cause problems with build-time dependencies: https://github.com/pypa/pip/issues/5739

[2019-10-03 21:05] davidosomething opened #6533 "bundle dump fails when ZDOTDIR defined"
[code]

When `$ZDOTDIR` is defined in `.zshenv`, allowing user to place `.zshrc` in a different directory from `.zshenv`, `brew bundle dump` fails. The ruby syscall always tries to open `.zshrc` from `$HOME`. Creating a temporary `.zshrc` in `$HOME` is a workaround.

[2019-10-03 21:07] tuping commented on #6138
https://github.com/Linuxbrew/brew/blob/93389fde63974f096156344e281610acec44130c/bin/brew#L77

I am using RVM, just commented the line above. Works like a charm.

[2019-10-03 21:17] Nowaker commented on #6138
@MikeMcQuaid Can you please reopen? There's too many "me toos" to blame "user setup issue" for it. BTW - I was not able to reproduce it in Docker.

[2019-10-04 07:55] MikeMcQuaid commented on #6533
You'll need to address this yourself, we don't do anything with `zsh`.

[2019-10-04 07:55] #6533 closed

[2019-10-04 07:55] MikeMcQuaid commented on #6138
@Nowaker No, sorry. It's still a user setup issue if it affects more than one person. We'll consider a pull request to address it.

[2019-10-04 16:08] zhao-li commented on #6263
This is the only thread I found regarding this issue.  Sorry if I'm posting in the wrong place.

I think `brew update` is adding this file: `/usr/loca/sbin/.keepme`
and then `brew doctor` gives this warning:
[code]

[2019-10-05 00:13] larson-carter commented on #5725
Ok, I just jumped into this issue. So you want to automatically open a PR againts Homebrew/homebrew-core if it detects a package being out of date?

[2019-10-05 00:32] davidosomething commented on #6533
Homebrew/brew does do stuff with shells -- it's that the RC file path is hardcoded here:

[code]

Ideally it should defer to zsh's settings, which is `$ZDOTDIR/.zshrc`
http://zsh.sourceforge.net/Intro/intro_3.html

The issue arises when referencing the `shell_profile` util, e.g. when using a tapped formula like this
https://github.com/Schniz/homebrew-tap/blob/master/Formula/fnm.rb#L21
`shell_profi

[2019-10-05 18:39] MikeMcQuaid commented on #6533
Ok. We'll review a PR to add that functionality.

[2019-10-05 19:29] morganrconnolly commented on #6341
@dawidd6 apologies for the delay. Here's a first stab https://github.com/Homebrew/brew/pull/6538 . I'm not sure what the appropriate development workflow is for brew commands, e.g. how do modify a command, rebuild brew and then test the modified command. Is there any documentation about this you can point me towards?

[2019-10-05 19:51] colindean commented on #6059
I'm able to reproduce this.

[code]

I'm seeing a strange difference between `install` and `fetch`:

[code]

Fetch _doesn't_ add the tap name.

I got a start on it in the branch I just linked but I'm out of time for today. See the commit message for what's broken still.

[2019-10-06 14:56] fxcoudert opened #6539 "Doxygen bottle is corrupted on Catalina"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-10-06 14:58] fxcoudert commented on #6539
This appears to be a system `tar` bug:

[code]

[2019-10-06 18:37] davidosomething commented on #6533
@MikeMcQuaid I gave it a shot, but not sure what's going on with the gh actions

[2019-10-06 19:28] sjackman commented on #6446
Thank you, Ninan! The PR that addresses this issue https://github.com/Linuxbrew/install/pull/74.

[2019-10-06 19:28] #6446 closed

[2019-10-07 07:30] MikeMcQuaid commented on #5725
@larson-carter I would start with the "a separate application should be built to make use of these checks" and not automatically open any PRs yet.

[2019-10-07 12:12] fxcoudert opened #6546 "Cannot create more TTY in Catalina sandbox"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-10-07 12:17] fxcoudert commented on #6546
Another example is `tintin`, where the same error is observed under pure Ruby. Running `brew test --verbose tintin` will lead to:

[code]

[2019-10-07 13:04] larson-carter commented on #5725
Ok, I'll start to work on it!

[2019-10-07 14:03] MikeMcQuaid commented on #6539
@fxcoudert Has noted this does not seem to happen on the Catalina GM.

[2019-10-07 14:40] #6546 closed

[2019-10-08 02:43] nickmccurdy opened #6551 "Support and test with Ruby 2.6.3 for macOS Catalina"
# A detailed description of the proposed feature

Homebrew currently supports Ruby 2.3.7 which comes with older versions of macOS, but it should also support Ruby 2.6.3 since it is the system Ruby version on macOS Catalina. This would involve fixing the warning and preferably adjusting the Ruby version used in CI.

# The motivation for the feature

`brew doctor` reports:
[code]

# How the feature

[2019-10-08 03:04] AngerM opened #6552 "Python's pip3 immediately aborts on Release (app-store) Catalina"
- [x] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or want to ask a question do so on our Discourse: https://discourse.brew.sh
- [x] ran a `brew` command and reproduced the problem with multiple formulae? If it's a problem with a single, official formula (not cask) please file this issue at Homebrew/homebrew-core: https://github.com/Homebrew/ho

[2019-10-08 03:06] #6552 closed

[2019-10-08 03:06] AngerM commented on #6552
sorry realized this is the wrong area

[2019-10-08 12:18] ricknox commented on #6551
Currently there is a PR at #6556 that solves the `brew doctor` warning.

[2019-10-08 15:21] mikemadden42 opened #6557 "brew doctor reports macOS 10.15 is a pre-release version"
**Please note that we will close your issue without comment if you delete, do not read or do not fill out the issue checklist below and provide ALL the requested information. If you repeatedly fail to use the issue template, we will block you from ever submitting issues to Homebrew again.**

- [X] are reporting a bug others will be able to reproduce and not asking a question. If you're not sure or

[2019-10-08 15:25] DaveKT commented on #6557
Quick note... this message is also showing up with 'brew update'. 10.15 is no longer pre-release.

DTassara@Gauss ~ % brew upgrade
Warning: You are **using macOS 10.15**.
We do not provide support for **this pre-release version.**
You will encounter build failures with some formulae.
Please create pull requests instead of asking for help on Homebrew's GitHub,
Discourse, Twitter or IRC. You are res

[2019-10-08 15:30] MikeMcQuaid commented on #6557
This is fixed in `master`. It will no longer be printed when we make a new stable release. Please be patient, it has been less than 24 hours.

[2019-10-08 15:30] #6557 closed

[2019-10-08 15:50] Jossnaz commented on #6401
really? what was the solution? you letting everyone down here.

[2019-10-08 15:57] DaveKT commented on #6557
No worries. Just reporting information. Totally get that this release will trail 10.15.

Cheers.

[2019-10-08 18:37] cxwx opened #6560 "where is the headers of catalina? I can't find the headers in catalina like https://apple.stackexchange.com/questions/337940/why-is-usr-include-missing-i-have-xcode-and-command-line-tools-installed-mojave"
#What you were trying to do (and why)

like below:
https://apple.stackexchange.com/questions/337940/why-is-usr-include-missing-i-have-xcode-and-command-line-tools-installed-mojave
I try to install the C headers of mac os X, but I cannot find this on catalina, which cause CCfits include headers failed

# What happened (include command output)

/usr/local/include/CCfits/CCfits.h:25:10: fatal error:

[2019-10-08 19:18] #6560 closed

[2019-10-08 21:38] frbuceta opened #6561 "Support for MacOS Catalina"
[code]

MacOS Catalina is official, and I am also using an official version and not testing

[2019-10-08 21:40] frbuceta commented on #6561
Close by #6557